{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Global Quotas</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Adjust global quotas
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#form").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("div"));
            },

            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },

            rules:{
            },

            messages:{
            }
        });

        function set_quotainputs(element){
            var forLimit=$(element).attr("for");
            if($(element).is(":checked")){
                $("#"+forLimit).prop('disabled',false);
            }else{
                $("#"+forLimit).prop('disabled',true);
                $("#"+forLimit).val("");
            }
        }

        $(".quotaCheckbox").each(function(){
            set_quotainputs(this);
        });

        $(".quotaCheckbox").change(function(){
            set_quotainputs(this);
        });
    });
</script>

<form id='form' method=POST>
    <div class="aheading">
        <span>Global Quotas</span>
    </div>
    <div class="abody">
        Configure global bandwidth quotas. You can set limits in bytes and seconds.
        <br><br>
        <div class="aformgroup">
            <span class="aformlabel">Daily Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="dailyQuotaLimit" type=checkbox name="dailyQuota" {% if settings.dailyQuota %} CHECKED {%endif %}>
                <input id="dailyQuotaLimit" class="validate number" size=6 type=text name="dailyQuotaLimit" value="{{settings.dailyQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Weekly Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="weeklyQuotaLimit" type=checkbox name="weeklyQuota" {% if settings.weeklyQuota %} CHECKED {%endif %}>
                <input class="validate number" size=6 type=text id="weeklyQuotaLimit" name="weeklyQuotaLimit" value="{{settings.weeklyQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Monthly Limit:</span>

            <div class="aformcontent">
                <input type=checkbox for="monthQuotaLimit" class="quotaCheckbox" name="monthQuota" {% if settings.monthQuota %} CHECKED {%endif %}>
                Smart Quota: <input type=checkbox name="monthQuotaIsSmart" {% if settings.monthQuotaIsSmart %} CHECKED {%endif%}>
                Billing date: <input class="validate number" size=3 placeholder="Billing Day" type=text name="monthQuotaBillingDay" value="{{settings.monthQuotaBillingDay}}">
                <input id="monthQuotaLimit" class="validate number" size=6 type=text name="monthQuotaLimit" value="{{settings.monthQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input type="submit" value="Save Configuration"/>
            </div>
        </div>
    </div>
</form>

{% endblock%}