{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Groups and Roles</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage groups and roles in Sphirewall
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
            </ul>
        </div>
    </div>
</div>

<div class="aheading">
    <span>Groups and roles in Sphirewall</span>
</div>
<div class="abody">
    <br>
    <script>
        $(document).ready(function(){
            $("#form").validate({
                errorPlacement:function(error,element){
                    error.appendTo(element.parent("td"));
                },

                wrapper:"li",
                submitHandler:function(){
                    form.submit();
                },
            });
        });
    </script>
    <form id="form" method='POST'>
        <table id="users" class="list border filtered export paging">
            <thead>
            <th>Name</th>
            <th>Manager</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for group in groups %}
            <tr>
                <td><a href="/configuration/groups/{{group.id}}">{{group.name}}</a></td>
                <td>{{group.manager}}</td>
                <td><a href="/configuration/groups/delete/{{group.id}}">Delete</a></td>
            </tr>
            {% endfor %}
            <tfoot>
                <td><input class="validate nowhitespace" name='name' class='validate' size='30' placeholder='Name'/></td>
                <td></td>
                <td><input id='submit' type='submit' value="Create Group"></td>
            </tfoot>
            </tbody>
        </table>
    </form>
</div>

{%endblock %}