{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="/configuration/groups">Groups and Roles</a></li>
            <li><a href="#" class="last">Edit Group: {{group.name | safe }}</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage groups and roles in Sphirewall
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li>
                    <a href="/configuration/groups/delete/{{group.id | safe}}">Delete Group</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        $("#form").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("div"));
            },

            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },
        });

    });
</script>

<form id="form" method=POST>
    <div class="aheading">
        <span>Group Details</span>
    </div>
    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">Manager:</span>

            <div class="aformcontent">
                <input class="validate email" name=manager value="{{group.manager | safe}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Is Admin:</span>

            <div class="aformcontent">
                <input type=checkbox name=mui {% if group.allowMui %} CHECKED {%endif %}>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Description/Notes:</span>

            <div class="aformcontent">
                <textarea style="width:300px;height:100px;" name=desc value="{{group.desc}}">{{group.desc}}</textarea>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input type="submit" value="Save Configuration"/>
            </div>
        </div>
    </div>

    <div class="aheading">
        <span>Group traffic quotas</span>
    </div>

    <script>
        $(function(){
            function set_quotainputs(element){
                var forLimit=$(element).attr("for");
                if($(element).is(":checked")){
                    $("#"+forLimit).prop('disabled',false);
                }else{
                    $("#"+forLimit).prop('disabled',true);
                    $("#"+forLimit).val("");
                }
            }

            $(".quotaCheckbox").each(function(){
                set_quotainputs(this);
            });

            $(".quotaCheckbox").change(function(){
                set_quotainputs(this);
            });
        });

    </script>
    <div class="abody">
        Configure group bandwidth quotas. You can set limits in bytes and seconds.
        <br><br>
        <div class="aformgroup">
            <span class="aformlabel">Daily Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="dailyQuotaLimit" type=checkbox name="dailyQuota" {% if group.dailyQuota %} CHECKED {%endif %}>
                <input class="validate number" size=6 type=text id="dailyQuotaLimit" name="dailyQuotaLimit" value="{{group.dailyQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Weekly Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="weeklyQuotaLimit" type=checkbox name="weeklyQuota" {% if group.weeklyQuota %} CHECKED {%endif %}>
                <input class="validate number" size=6 type=text id="weeklyQuotaLimit" name="weeklyQuotaLimit" value="{{group.weeklyQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Monthly Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="monthQuotaLimit" type=checkbox name="monthQuota" {% if group.monthQuota %} CHECKED {%endif %}>
                Smart Quota: <input type=checkbox name="monthQuotaIsSmart" {% if group.monthQuotaIsSmart %} CHECKED {%endif
                %}>
                Billing date: <input class="validate number" size=3 placeholder="Billing Day" type=text name="monthQuotaBillingDay" value="{{group.monthQuotaBillingDay}}">
                <input class="validate number" size=6 type=text id="monthQuotaLimit" name="monthQuotaLimit" value="{{group.monthQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Total Transfer Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="totalQuotaLimit" type=checkbox name="totalQuota" {% if group.totalQuota %} CHECKED {%endif %}>
                <input class="validate number" size=6 type=text id="totalQuotaLimit" name="totalQuotaLimit" value="{{group.totalQuotaLimit}}">
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Time Limit:</span>

            <div class="aformcontent">
                <input class="quotaCheckbox" for="timeQuotaLimit" type=checkbox name="timeQuota" {% if group.timeQuota %} CHECKED {%endif %}>
                <input class="validate number" size=6 type=text id="timeQuotaLimit" name="timeQuotaLimit" value="{{group.timeQuotaLimit}}">
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input type="submit" value="Save Configuration"/>
            </div>
        </div>
    </div>
</form>
{%endblock %}