{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Ldap Configuration</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure ldap connection settings
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div class="aheading">
    <span>Ldap server connection</span>
    {% if ldap.online %}
    <span class='status' style='background-color:green;float: right;'>Running</span>
    {% endif %}

    {% if not ldap.online %}
    <span class='status' style='background-color:red;float: right;'>Not running</span>
    {% endif %}
</div>

<div class="abody">
    <script>
        $(document).ready(function(){
            $("#form").validate({
                errorPlacement:function(error,element){
                    error.appendTo(element.parent("div"));
                },

                wrapper:"li",
                submitHandler:function(){
                    form.submit();
                },

                rules:{
                    hostname:{required:true, nowhitespaces:true},
                    port:{required:true, number:true}
                },

                messages:{
                }
            });
        });
    </script>
    <form id="form" method="POST">
        <div class="aformgroup">
            <span class="aformlabel">Server:</span>

            <div class="aformcontent">
                <input id="hostname" class="validate" title="Ldap server hostname. This is the domain name or ipaddress of your ldap service." name=hostname type=text value="{{server | safe}}" /> : <input id="port" class="validate" name=port title="Ldap server port" type=text value="{{port | safe}}" size=4/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Base DN:</span>

            <div class="aformcontent">
                <input class="validate" name=basedn type=text value="{{baseDn | safe}}" title="Base DN, this defines where sphirewall will search for users in. For example, DC=duke2,DC=COM would be the correct base dn for the domain duke2.com"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Bind User:</span>

            <div class="aformcontent">
                <input class="validate" name="username" type=text value="{{bindUsername | safe}}"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Bind Password:</span>

            <div class="aformcontent">
                <input class="validate" name=password type=text value="{{bindPassword | safe}}"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input type=submit value="Save/Sync"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}