{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Advanced Configuration</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Adjust general sphirewall configuration options
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<div class="alert">
    <span class="message"><b>Warning:</b> Changes these values could have a dramatic effect on the performance of Sphirewall</span>
</div>

<style>
    .aformcontent {
        left: 235px !important;
    }
</style>
<div class="aheading">
    <span>Advanced runtime settings</span>
</div>
<br>

<div class="abody">

    <div class="block">
        <script>
            $(document).ready(function(){
                $("#form").validate({
                    errorPlacement:function(error,element){
                        error.appendTo(element.parent("div"));
                    },

                    wrapper:"li",
                    submitHandler:function(){
                        form.submit();
                    },

                    rules:{
                    },

                    messages:{
                    }
                });
            });
        </script>

        <form id="form" class="form-horizontal" method=POST>
            {% for i in vars %}
            <div class="aformgroup">
                    <span class="aformlabel">
            <label class='control-label'>{{i.key}}</label>
                    </span>

                <div class="aformcontent">
                    <input class='validate number' name='{{i.key}}' type='text' value='{{i.value}}'/>
                </div>
            </div>
            {% endfor %}

            <div class="aformgroup">
                    <span class="aformlabel">
                    </span>

                <div class="aformcontent">
                    <input type="submit" value="Save Configuration"/>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}