{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Watchdog</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure sphirewall to watch over your network for issues and trends
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div class="aheading">
    <span>Connectivity Monitoring</span>
</div>
<div class="abody">
    <div class="block">
        <form id="form" class="form-horizontal" method=POST>
            <div class="aformgroup">
                    <span class="aformlabel">
                        Google Ping Test
                    </span>

                <div class="aformcontent">
                    <input type="checkbox" name="monitorGoogle" {% if monitorGoogle %} CHECKED {%endif%}>
                </div>
            </div>
            <div class="aformgroup">
                    <span class="aformlabel">
                    </span>

                <div class="aformcontent">
                    <input type="submit" value="Save Configuration"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}