{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/events">Configuration</a></li>
            <li><a href="#" class="last">General Options</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Adjust general sphirewall configuration options
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("#form").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("div"));
            },

            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },

            rules:{
                session_timeout:{required:true,number:true},
                bandwidth_port:{required:true,number:true},
                threshold:{required:true,number:true},
                retension:{required:true,number:true},
                cp_url:{required:false,url2:true},
                http_baseurl:{required:false,url2:true},

            },

            messages:{
                session_timeout:"Please enter a valid session timeout",
                bandwidth_port:"Please enter a valid port number",
                threshold:"Please enter a valid number",
                retension:"Please enter a valid number",
                cp_url:"Please enter a valid url",
                http_baseurl:"Please enter a valid url",
            }
        });

        $("#force_auth_sources").val([
                {% for pool in force_auth_settings.ranges %}
                    "{{pool.aliasId}}",
                {%endfor %}
        ]);

        $("#force_auth_website_exceptions").val([
            {% for pool in force_auth_settings.websites%}
                "{{pool.aliasId}}",
            {%endfor %}
        ]);
        $(".chosen-select").chosen();
    });
</script>

<form id='form' method=POST>
<div class="aheading">
    <span>General Options</span>
</div>
<div class="abody">
    <div class="aformgroup">
        <span class="aformlabel">Disable Remote:</span>

        <div class="aformcontent">
            <input id="disable_remote_management"
                   title="Disable api administration from remote hosts. When this is checked, sphirewall will only accept api calls from the localhost"
                   name="disable_remote_management" {% if disable_remote_management %} CHECKED {% endif %}
            type="checkbox"/>
        </div>
    </div>
    <div class="aformgroup">
        <span class="aformlabel">Enable RPC:</span>

        <div class="aformcontent">
            <input title="Enable RPC api calls. If enabled, this allows api users to execute remote system commands against the sphirewall host machine."
                   name="enable_rpc" {% if enable_rpc %} CHECKED {% endif %} type="checkbox"/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Session Timeout:</span>

        <div class="aformcontent">
            <input title="Set the authentication timeout in seconds. Idle users sessions will be removed after this period has elapsed"
                   id="session_timeout" name="session_timeout" type="text" value="{{session_timeout}}" size="4"
                   class='validate'/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Snort IDS:</span>

        <div class="aformcontent">
            <input title="Enable snort alerting" name="snort_enabled" type="checkbox" {% if snort_enabled %} CHECKED {%
            endif %}/>
            <input title="Snort alert file, if enabled and set sphirewall will check this file for snort alerts"
                   name="snort_file" type="text" value="{{snort_file}}" class='validate'/>
        </div>
    </div>
</div>

<div class="aheading">
    <span>Analytics Options</span>
</div>
<div class="abody">
    <div class="aformgroup">
        <span class="aformlabel">Service:</span>

        <div class="aformcontent">
            <input title="Hostname of the Analytics Service. Normally this can be set to localhost, but it you are running sphirewall-ana remotely, then change it here."
                   class="validate" name="bandwidth_hostname" value="{{ana_host}}" size="15"/>
            :
            <input title="Port of the Analytics Service. Defaults to 8002." id="bandwidth_port" name="bandwidth_port"
                   value="{{ana_port}}" size=5 class='validate'/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Transfer Threshold:</span>

        <div class="aformcontent">
            <input title="Connections with less transferred data than this threshold in bytes will be ignored by the Analytics engine."
                   id="threshold" name="threshold" type="text" value="{{ana_threshold}}" size="4" class='validate'/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Hourly Retention Period:</span>

        <div class="aformcontent">
            <input title="Hourly retention period defines the period at which we remove hourly data from the analytics engine."
                   id="retension" name="retension" type="text" value="{{ana_retension}}" size="8" class='validate'/>
        </div>
    </div>
    <div class="aformgroup">
        <span class="aformlabel">Hourly Data Switch Period:</span>

        <div class="aformcontent">
            <input title="For periods exceeding this value, we will use the day summary data rather than hourly data. If set to 0 we wont record any hourly data."
                   id="bandwidth_day_switch_period" name="bandwidth_day_switch_period" type="text"
                   value="{{bandwidth_day_switch_period}}" size="8" class='validate'/>
        </div>
    </div>
    <div class="aformgroup">
        <span class="aformlabel"></span>

        <div class="aformcontent">
            <input type="submit" value="Save Options"/>
        </div>
    </div>
</div>
<div class="aheading">
    <span>Capture Portal Options</span>
</div>
<div class="abody">
    <div class="aformgroup">
        <span class="aformlabel">Mode:</span>

        <div class="aformcontent">
            <select name=remote_user_mode>
                <option value=0
                {% if remote_user_mode == 0 %} SELECTED {%endif%}>Ignore</option>
                <option value=1
                {% if remote_user_mode == 1 %} SELECTED {%endif%}>Redirect to login</option>
            </select>
        </div>
    </div>

    <div class="aformgroup">
            <span class="aformlabel">
                Redirect Url:
            </span>

        <div class="aformcontent">
            <input title="Set the capture portal login url, users that are not authenticated with sphirewall will be redirected to this url."
                   id="cp_url" name=cp_url size=50 value="{{cp_url}}" class='validate'/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Force Login:</span>

        <div class="aformcontent">
            <input title="If checked, unauthenticated users will always get redirected to the login page defined above."
                   type="checkbox" name="force_login" {% if force_login %} CHECKED {% endif %}>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Force Login Source Ranges:</span>

        <div class="aformcontent">
            <select multiple class="chosen-select" data-placeholder="Choose a source pool..."
                    name="force_auth_sources" id="force_auth_sources">
                {% for pool in pools %}
                {% if pool.type != 2 %}
                <option value="{{pool.id}}">{{pool.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Force Login Website Exceptions:</span>

        <div class="aformcontent">
            <select multiple class="chosen-select" data-placeholder="Choose a website pool..."
                    name="force_auth_website_exceptions" id="force_auth_website_exceptions">
                {% for pool in pools %}
                {% if pool.type == 2 %}
                <option value="{{pool.id}}">{{pool.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="aformgroup">
            <span class="aformlabel">
                New user group:
            </span>

        <div class="aformcontent">
            <select name="remote_authentication_group">
                {% for group in groups %}
                <option
                {% if group.id == remote_authentication_group %} SELECTED {%endif%} value="{{group.id |
                safe}}">{{group.name|safe}}</option>
                {%endfor%}
            </select>

        </div>
    </div>
    <div class="aformgroup">
            <span class="aformlabel">
            </span>

        <div class="aformcontent">
            <input type="submit" value="Save Options"/>
        </div>
    </div>

</div>

<div class="aheading">
    <span>Remote Authentication Methods</span>
</div>

<div class="abody">
    <div class="aformgroup">
        <span class="aformlabel">Ldap</span>

        <div class="aformcontent">
            <input type=checkbox name=ldap_enabled {% if ldap_enabled %} CHECKED {% endif%} />
            <a href="/configuration/general/ldap">configure</a>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Unix Pam</span>

        <div class="aformcontent">
            <input type=checkbox name=pam_enabled {% if pam_enabled %} CHECKED {%endif%} />
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Basic Http</span>

        <div class="aformcontent">
            <input type=checkbox name='http_enabled' {% if http_enabled %} CHECKED {%endif%} />
            <input id="http_baseurl" class="validate" type="text" placeholder="Url" size=20 name="http_baseurl"
                   value="{{http_baseurl | safe}}">
        </div>
    </div>

    <div class="aformgroup">
            <span class="aformlabel">
            </span>

        <div class="aformcontent">
            <input type="submit" value="Save Options"/>
        </div>
    </div>
</div>

<div class="aheading">
    <span>Sphirewall Cloud Connection</span>
</div>

<div class="abody">
    <div class="aformgroup">
        <span class="aformlabel">Enabled:</span>

        <div class="aformcontent">
            <input type=checkbox name='cloud_enabled' {% if cloud_enabled %} CHECKED {%endif%} />
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Host:</span>

        <div class="aformcontent">
            <input class="validate" type="text" name="cloud_hostname" value="{{cloud_hostname}}"/>:<input type="text"
                                                                                                          class="validate"
                                                                                                          size="3"
                                                                                                          name="cloud_port"
                                                                                                          value="{{cloud_port}}"/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">Key:</span>

        <div class="aformcontent">
            <input class="validate" type="text" name="cloud_key" value="{{cloud_key}}"/>
        </div>
    </div>

    <div class="aformgroup">
            <span class="aformlabel">
            </span>

        <div class="aformcontent">
            <input type="submit" value="Save Options"/>
        </div>
    </div>
</div>
</form>

{% endblock%}