{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Event Handling</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Adjust general sphirewall configuration options
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<br>

<div id="tab-button-row" class="tab-button-row" data-contentid="networkmenu" style="position:relative;">
    <a href="#" data-panelid="general" class="tab-button" onclick="toggleTab(event, 'events');">General Config</a>
    <a href="#" data-panelid="advance" class="tab-button" onclick="toggleTab(event, 'events');">Advanced Manual
        Config</a>
</div>

<script>
    $(function(){
        initToggleTab("events","general");
    })
</script>
<div id="events">
    <div id="general">

        <div class="aheading">
            <span>Quick settings</span>
        </div>
        <br>

        <div class="abody">
            <form id='form' method=POST>
                <div class="aformgroup">
                    <span class="aformlabel">
                        Event Logging
                    </span>

                    <div class="aformcontent">
                        <input {% if logging %} CHECKED {%endif %} class="validate" name="log" type="checkbox"/>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">
                        Console Logging
                    </span>

                    <div class="aformcontent">
                        <input {% if console %} CHECKED {%endif %} class="validate" name="console" type="checkbox"/>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">
                        User quotas
                    </span>

                    <div class="aformcontent">
                        <input title="Disable a user automatically when a quota is exceeded." {% if quotas %} CHECKED {%endif %} class="validate" name="quotas" type="checkbox"/>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">
                        Ids Events
                    </span>

                    <div class="aformcontent">
                        <input title="Block source host when IDS event is caught." {% if ids %} CHECKED {%endif %} class="validate" name="ids" type="checkbox"/>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">
                        Email events
                    </span>

                    <div class="aformcontent">
                        <input title="Send an email on event notifications" {% if email %} CHECKED {%endif %} class="validate" name="email" type="checkbox"/>
                        <input placeholder='Recipient' class="validate" name="emailAddr" type="text"
                               value="{{emailAddr}}"/>

                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">
                    </span>

                    <div class="aformcontent">
                        <input type="submit" value="Save Configuration"/>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div id="advance">
        <div class="aheading">
            <span>Manually configure event handlers</span>
        </div>
        <br>

        <div class="abody">
            <form method='POST' action='/configuration/events/add'>
                <table id="eventhandlers" class="list border">
                    <thead>
                    <th>Event Type</th>
                    <th>Event Handler</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for h in handlers %}
                    <tr>
                        <td>{{h.key}}</td>
                        <td>{{h.name}}</td>
                        <td><a href="/configuration/events/delete/{{h.key}}/{{h.handler}}">Delete </a>
                            <a href="/configuration/events/manage/{{h.key}}/{{h.handler}}">Manage </a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><input
                                title="Define an event key/type. This can be any event type in the Sphirewall System, to see a list of all available types see the documentation. An example value could be 'event' for all events."
                                name='eventType' class='validate' size='30' placeholder='Event Type'/></td>
                        <td><select
                                title="Select an event handler for this event type. Some handlers will have parameters you must specify additionally. An example of a event handler would be a email handler. When an event of this type is caught, sphirewall will send an email to a particular email address."
                                name='handler'>
                            <option value='handler.log'>Log Event</option>
                            <option value='handler.stdout'>Write to STDOUT</option>
                            <option value='handler.email'>Send email alert</option>
                            <option value='handler.users.disable'>Disable User</option>
                            <option value='handler.users.delete'>Delete User</option>
                            <option value='handler.groups.add'>Add user to group</option>
                            <option value='handler.groups.remove'>Remove user from group</option>
                        </select></td>
                        <td><input id='submit' type='submit' value="Add Handler"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}