{% extends "layout.html" %}

{% block navigation %}
<br>
<span class="navtitle">Configuration</span>
<a class="mO" href="/configuration/general">General Options</a>
<a class="mO" href="/configuration/watchdog">Watchdog</a>
<a class="mO" href="/configuration/quotas">Global Quotas</a>
<a class="mO" href="/configuration/advanced" id="general-advanced">Advanced Config</a>
<a class="mO" href="/configuration/smtp" id="smtp">Smtp Server</a>
<a class="mO" href="/configuration/events">Event Handling</a>

<br>
<span class="navtitle">Users and Groups</span>
<a class="mO" href="/configuration/users">Users and People</a>
<a class="mO" href="/configuration/groups">Groups and Roles</a>

{% endblock %}

