{% extends "configuration.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">SMTP Server</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure an smtp server for Sphirewall to use
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li>
                    <a href="/configuration/smtp/test">Send Test Email</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="aheading">
    <span>Connection Options</span>
</div>
<div class="abody">
    <script>
        $(document).ready(function(){
            $("#form").validate({
                errorPlacement:function(error,element){
                    error.appendTo(element.parent("div"));
                },

                wrapper:"li",
                submitHandler:function(){
                    form.submit();
                },

                rules:{
                },

                messages:{
                }
            });
        });
    </script>

    <form id='form' method=POST>
        <div class="aformgroup">
            <span class="aformlabel">Connection</span>

            <div class="aformcontent">
                <input class="validate" name="hostname" type="text"
                       value="{{hostname}}" placeholder="Hostname"/>

                <input class="number validate" name="port" type="text"
                       size=6 value="{{port}}" placeholder="Port"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Username</span>

            <div class="aformcontent">
                <input class="validate" name="username" type="text"
                       value="{{username}}" placeholder="Username"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Password</span>

            <div class="aformcontent">
                <input class="validate" name="password" type="password"
                       value="{{password}}" placeholder="Password"/>

            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Default Recipient</span>

            <div class="aformcontent">
                <input class="validate" name="default" type="text"
                       value="{{default}}" placeholder="Default"/>
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">TLS Enabled</span>

            <div class="aformcontent">
                <input class="validate" name="tls" type="checkbox" {% if tls %} CHECKED {%endif%}/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input type="submit" value="Save Configuration"/>
            </div>
        </div>
    </form>
</div>

{% endblock%}