<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<div style="width:500px; margin-right:auto;margin-left: auto;" class="hero-unit">
    <h1>Oops!!</h1>
    An error occurred, we are sorry. <a href="/">Click here to continue</a>

    {{error}}
</div>
</body>
</html>