{% extends "layout.html" %}

{% block navigation %}
<br>
<span class="navtitle">Firewall Rules</span>
<a class="mO" href="/firewall/filtering">Filtering</a>
<a class="mO" href="/firewall/nat">Forwarding</a>
<a class="mO" href="/firewall/qos">Rate Limiting Qos</a>
<a class="mO" href="/firewall/priority">Priority Qos</a>

<br>
<span class="navtitle">Smart Tools</span>
<a class="mO" href="/firewall/aliases">Pools</a>
<a class="mO" href="/firewall/webfilter">Web Filter</a>


{% endblock %}

