{% extends "firewall.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="/firewall/aliases">Aliases and Pools</a></li>
            <li><a href="#" class="last">View Alias: {{alias.name | safe}}</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage addresses inside an alias
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li>
                    <a href="/firewall/aliases/{{alias.id}}/sync">Resync Alias</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="aheading">
    <span>Current entries in Alias/Pool</span>
</div>
<br>
<div class="abody">
    <form method="POST">
        <table id="addresses" class="list border export filtered paging">
            <thead>
            <th>Address</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for i in items %}
            <tr>
                <td>{{i | safe}}</td>
                <td><a href="/firewall/aliases/{{alias.id | safe}}/deletevalue?value={{i|e}}">Delete</a></td>
            </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <td>
                    <textarea rows="3" cols="100" name="value" placeholder="Enter a single or multiple entry"></textarea>
                </td>
                <td><input type="submit" value="Add"/></td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

{% endblock %}
