{% extends "firewall.html" %}
{% block body %}

<?php
include_once "libs/Framework.inc";
?>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Filtering Rules</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage firewall rules in the system
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a id="operationbutton" class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li><a href="/firewall/acls/normal/add?mode=filtering">Create Rule</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="acls">
<div class="aheading">
    <span>Filtering</span>
</div>
<br>

<div class="abody">
    <table class="list noresultstable paddingtop border">
        <thead>
        <th></th>
        <th>Source</th>
        <th>Destination</th>
        <th>Protocol</th>
        <th>Action</th>
        <th>Operations</th>
        </thead>
        <tbody>
        {% for rule in filter %}
        <tr>
            <td>
                {% if rule.enabled %}
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/firewall/acls/disable/{{rule.id}}?caller=/firewall/filtering'>
                    <input type=checkbox value=on name=enabled CHECKED onchange='submit();'/>
                </form>
                {% endif %}

                {% if not rule.enabled %}
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/firewall/acls/enable/{{rule.id}}?caller=/firewall/filtering'>
                    <input type=checkbox value=on name=enabled onchange='submit();'/>
                </form>
                {% endif %}
            </td>
            <td>
                {% if rule.sourceAddress %}
                host {{rule.sourceAddress | safe}}/{{rule.sourceSubnet|safe}}
                {% endif %}

                {% if rule.sourceAlias %}
                alias <a href="/firewall/aliases/{{rule.sourceAliasId}}">{{rule.sourceAlias}}</a>
                {% endif %}

                {% if rule.hwAddress %}
                mac address {{rule.hwAddress}}
                {% endif %}

                {% if rule.group %}
                group {{rule.group}}
                {% endif%}

                {% if rule.sourcePort %}
                port {{rule.sourcePort}}
                {% endif %}

                {% if rule.sport_start %}
                between ports {{rule.sport_start}}-{{rule.sport_end}}
                {% endif %}

                {% if rule.sourceInterface %}
                interface {{rule.sourceInterface}}
                {%endif%}
            </td>
            <td>
                {% if rule.destAddress %}
                host {{rule.destAddress | safe}}/{{rule.destSubnet|safe}}
                {% endif %}

                {% if rule.destAlias %}
                alias <a href="/firewall/aliases/{{rule.destAliasId}}">{{rule.destAlias}}</a>
                {% endif %}

                {% if rule.destPort %}
                port {{rule.destPort}}
                {% endif %}

                {% if rule.dport_start %}
                between ports {{rule.dport_start}}-{{rule.dport_end}}
                {% endif %}

                {% if rule.destInterface %}
                interface {{rule.destInterface}}
                {%endif%}
            </td>
            <td>
                {{rule.protocol}}
            </td>
            <td class="darkbackground">
                {% if rule.action == 0 %}
                <font color=red><b>deny</b></font>
                {% endif %}
                {% if rule.action == 1 %}
                <font color=green><b>allow</b></font>
                {%endif %}

                {% if rule.startHour %}
                between {{rule.startHour}} and {{rule.finishHour}} o'clock
                {% endif %}

                {% if rule.log %}
                and <b>log</b>
                {% endif %}

                {% if rule.ignoreconntrack %}
                and <b>dont track</b>
                {%endif %}
            </td>
            <td class="darkbackground">
                <a href="/firewall/acls/normal/add/{{rule.id}}?mode=filtering">Edit</a>
                <a href="/firewall/acls/up/{{rule.id}}">Up</a>
                <a href="/firewall/acls/down/{{rule.id}}">Down</a>
                <a href="/firewall/acls/delete/{{rule.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}