{% extends "firewall.html" %}
{% block body %}
<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Priority Qos Rules</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage firewall rules in the system
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a id="operationbutton" class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                {% if enabled %}
                <li><a href="/firewall/acls/normal/add?mode=priority">Create Rule</a></li>
                <li><a href="/firewall/priority/disable">Disable QOS</a></li>
                {%endif%}

                {% if not enabled %}
                <li><a href="/firewall/priority/enable">Enable QOS</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>

<div id="acls">
    {% if not enabled %}
    <div class="alert">
        <span class="message"><b>Warning:</b> Qos is currently disabled, click <a
                href="/firewall/priority/enable">here</a> to enable it.</span>
    </div>
    {% endif %}

    {% if enabled %}
    <div class="aheading">
        <span>Prioritise Traffic</span>
    </div>
    <br>

    <div class="abody">
        <table class="list noresultstable paddingtop border">
            <thead>
            <th></th>
            <th>Source</th>
            <th>Destination</th>
            <th>Protocol</th>
            <th>Action</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for rule in filter %}
            <tr>
                <td>
                    {% if rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post'
                          action='/firewall/acls/disable/{{rule.id}}?caller=/firewall/priority'>
                        <input type=checkbox value=on name=enabled CHECKED onchange='submit();'/>
                    </form>
                    {% endif %}

                    {% if not rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post'
                          action='/firewall/acls/enable/{{rule.id}}?caller=/firewall/priority'>
                        <input type=checkbox value=on name=enabled onchange='submit();'/>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if rule.sourceAddress %}
                    host {{rule.sourceAddress | safe}}/{{rule.sourceSubnet|safe}}
                    {% endif %}

                    {% if rule.sourceAlias %}
                    alias {{rule.sourceAlias}}
                    {% endif %}

                    {% if rule.hwAddress %}
                    mac address {{rule.hwAddress}}
                    {% endif %}

                    {% if rule.group %}
                    group {{rule.group}}
                    {% endif%}

                    {% if rule.sourcePort %}
                    port {{rule.sourcePort}}
                    {% endif %}

                    {% if rule.sport_start %}
                    between ports {{rule.sport_start}}-{{rule.sport_end}}
                    {% endif %}

                    {% if rule.sourceInterface %}
                    interface {{rule.sourceInterface}}
                    {%endif%}
                </td>
                <td>
                    {% if rule.destAddress %}
                    host {{rule.destAddress | safe}}/{{rule.destSubnet|safe}}
                    {% endif %}

                    {% if rule.destAlias %}
                    alias {{rule.destAlias}}
                    {% endif %}

                    {% if rule.destPort %}
                    port {{rule.destPort}}
                    {% endif %}

                    {% if rule.dport_start %}
                    between ports {{rule.dport_start}}-{{rule.dport_end}}
                    {% endif %}

                    {% if rule.destInterface %}
                    interface {{rule.destInterface}}
                    {%endif%}
                </td>
                <td>
                    {{rule.protocol}}
                </td>
                <td class="darkbackground">
                    priority {{rule.nice}}

                    {% if rule.startHour %}
                    between {{rule.startHour}} and {{rule.finishHour}} o'clock
                    {% endif %}
                </td>
                <td class="darkbackground">
                    <a href="/firewall/acls/normal/add/{{rule.id}}?mode=priority">Edit</a>
                    <a href="/firewall/acls/up/{{rule.id}}?caller=/firewall/priority">Up</a>
                    <a href="/firewall/acls/down/{{rule.id}}?caller=/firewall/priority">Down</a>
                    <a href="/firewall/acls/delete/{{rule.id}}?caller=/firewall/priority">Delete</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type=checkbox value=on name=enabled CHECKED disabled/>
                </td>
                <td>any</td>
                <td>any</td>
                <td>any</td>
                <td class="darkbackground">priority 1</td>
                <td class="darkbackground"></td>
            </tr>

            </tbody>
        </table>
    </div>
    {%endif%}

</div>
{% endblock %}