{% extends "firewall.html" %}
{% block body %}

<?php
include_once "libs/Framework.inc";
?>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Rate Limiting Qos</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage firewall rules in the system
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a id="operationbutton" class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                {% if not enabled %}
                <li><a href="/firewall/qos/enable">Enable QOS</a></li>
                {%endif%}

                {% if enabled %}
                <li><a href="/firewall/acls/qos/add">Create QOS Rule</a></li>
                <li><a href="/firewall/qos/disable">Disable QOS</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div id="qos">
    {% if not enabled %}
    <div class="alert">
            <span class="message"><b>Warning:</b> Qos is currently disabled, click <a
                    href="/firewall/qos/enable">here</a> to enable it.</span>
    </div>
    {% endif %}

    {% if enabled %}
    <div class="aheading">
        <span>Traffic Shaping Rules</span>
    </div>
    <br>

    <div class="abody">

        <table class="list paddingtop noresultstable border">
            <thead>
            <th>Source</th>
            <th>Destination</th>
            <th>Transfer Rate</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for rule in qos %}
            <tr>
                <td>
                    {% if rule.groupname %}
                    Members of {{rule.groupname | safe}}
                    {% endif %}

                    {% if rule.source %}
                    {% if rule.sourceBlock %}
                    Every host in {{rule.source}}/{{rule.sourceMask}}
                    {% endif %}
                    {% if not rule.sourceBlock %}
                    {{rule.source}}/{{rule.sourceMask}}
                    {%endif %}
                    {% endif %}

                    {% if rule.sourcePort %}
                    port {{rule.sourcePort | safe}}
                    {% endif %}
                </td>
                <td>
                    {% if rule.destination %}
                    {% if rule.destinationBlock %}
                    Every host in {{rule.destination}}/{{rule.destinationMask}}
                    {% endif %}
                    {% if not rule.destinationBlock %}
                    {{rule.destination}}/{{rule.destinationMask}}
                    {%endif %}
                    {% endif %}

                    {% if rule.destinationPort %}
                    port {{rule.destinationPort | safe}}
                    {% endif %}
                </td>
                <td class="darkbackground">
                    Upload: {{rule.upload | safe}}B/s Download: {{rule.download | safe}}B/s
                </td>
                <td class="darkbackground">
                    <a href="/firewall/acls/qos/{{rule.id}}/delete">Delete</a>
                </td>
            </tr>

            {% endfor%}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endblock %}