{% extends "firewall.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="/firewall/qos">Shaping Rules</a></li>
            <li><a href="#" class="last">Add Rule</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Add a new traffic shaper rule
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#form").validate({
            errorPlacement:function (error, element) {
                error.appendTo(element.parent("span").next("div"));
            },

            debug:true,
            wrapper:"li",
            submitHandler:function () {
                form.submit();
            },
            rules:{
                source:{required:false, ipv4:true},
                sourceMask:{required:false, ipv4:true},
                sourcePort:{required:false, number:true},
                destination:{required:false, ipv4:true},
                destinationMask:{required:false, ipv4:true},
                destinationPort:{required:false, number:true},
                upload:{required:false, number:true},
                download:{required:false, number:true},
            },

            messages:{
                source:"Enter a valid source IP address",
                sourceMask:"Enter a valid source mask",
                sourcePort:"Enter a valid source port",
                destination:"Enter a valid destination IP address",
                destinationMask:"Enter a valid destination mask",
                destinationPort:"Enter a valid destination port",
                upload:"Enter a valid upload restriction",
                download:"Enter a valid download restriction",

            }
        })
    });
</script>

<form id=form method="POST">
    <div class="aheading">
        <span>Source Criteria</span>
    </div>
    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">Block Style</span>

            <div class="aformcontent">
                <input title="If checked, all hosts in the source range are limited to the total transfer. If unchecked each matching connection is limited to the transfer rate." type=checkbox name=sourceBlock/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Source IP</span>

            <div class="aformcontent">
                <input name=source size=15 value='' class='validate' placeholder="Ip Address"/>
                /<input name=sourceMask size=15 value='' class='validate' placeholder="Subnet Mask"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">Source Port</span>

            <div class="aformcontent">
                <input name=sourcePort class='validate' placeholder="Port" size=5/></div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Authenticated Group</span>

            <div class="aformcontent">
                <select name=groupid>
                    {% for group in groups %}
                        <option value="{{group.id | safe}}">{{group.name | safe}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <br>

    <div class="aheading">
        <span>Destination Criteria</span>
    </div>

    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">Block Style</span>

            <div class="aformcontent">
                <input title="If checked, all hosts in the destination range are limited to the total transfer. If unchecked each matching connection is limited to the transfer rate." type=checkbox name=destinationBlock/>
            </div>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Destination IP</span>

                <div class="aformcontent">
                    <input name=destination size=15 value='' class='validate' placeholder="Ip Address"/>
                    /<input name=destinationMask size=15 value='' class='validate' placeholder="Subnet Mask"/>
                </div>
            </div>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Destination Port</span>

                <div class="aformcontent">
                    <input name=destinationPort class='validate' size=5 placeholder="Port"/>
                </div>
            </div>
        </div>

    </div>
    <br>

    <div class="aheading">
        <span>Restrictions</span>
    </div>

    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">Upload Rate</span>

            <div class="aformcontent">
                <input type=text name=upload class='validate' placeholder="B/s"/>
            </div>
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Download Rate</span>

            <div class="aformcontent">
                <input type=text name=download class='validate' placeholder="B/s"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input class=submit type=submit value="Create Rule"/>

            </div>
        </div>
    </div>
</form>
{% endblock %}