{% extends "firewall.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="/firewall/filtering">Filtering Rules</a></li>
            <li><a href="#" class="last">Add Rule</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage firewall rules in the system
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<script>
    function load(){
        var $items=$(".aheading");
        for(var x=0; x<$items.length; x++){
            var $item=$items[x];
            $item.onclick=function(){
                var targetId=$(this).attr("data-for");
                $("#"+targetId).toggle();
            };
        }
    }

    $(document).ready(function(){
        $("#form").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("span").next("div"));
            },

            debug:true,
            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },
            rules:{
                source:{required:false,ipv4:true},
                source_mask:{required:false,ipv4:true},
                sport:{required:false,listofnumbers:true},
                dest:{required:false,ipv4:true},
                dest_mask:{required:false,ipv4:true},
                dport:{required:false,listofnumbers:true},
                snat_target:{required:false,ipv4:true},
                dnat_target:{required:false,ipv4:true},
                dnat_port:{required:false,number:true},
                sport_start:{required:false,number:true},
                sport_end:{required:false,number:true},
                dport_start:{required:false,number:true},
                dport_end:{required:false,number:true},
                startHour:{required:false,number:true},
                finishHour:{required:false,number:true},
            },

            messages:{
                source:"Enter a valid source IP address",
                source_mask:"Enter a valid source mask",
                sport:"Enter a valid source port",
                dest:"Enter a valid destination IP address",
                dest_mask:"Enter a valid destination mask",
                dport:"Enter a valid destination port",
                snat_target:"Enter a valid IP address",
                dnat_target:"Enter a valid IP address",
                dnat_port:"Enter a valid port",
                sport_start:"Enter a valid start port",
                sport_end:"Enter a valid end port",
                dport_start:"Enter a valid start port",
                dport_end:"Enter a valid end port",
                startHour:"Enter a valid start hour",
                finishHour:"Enter a valid end hour",
            }
        })


        load();
    });
</script>

<form id="form" method=POST>
<div class="aheading" data-for="sourceInfo">
    <span>Source Criteria</span>
</div>

<div class="abody" id="sourceInfo">
    <div class="aformgroup">
        <span class="aformlabel">
            Alias
        </span>

        <div class="aformcontent">
            <select name=source_alias>
                <option value=-1 selected></option>
                {% for alias in aliases %}
                <option value="{{alias.id}}" {%if rule.sourceAlias and rule.sourceAliasId == alias.id %} SELECTED {% endif %}>{{alias.name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            IPv4 Address
        </span>

        <div class="aformcontent">
            <input value="{{rule.sourceAddress}}" name=source size=15 value='' class='validate' placeholder="Ip Address"/>
            / <input value="{{rule.sourceSubnet}}" name=source_mask size=15 value='' class='validate' placeholder="Subnet Mask"/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Port
        </span>

        <div class="aformcontent">
            <span>
			    <input title="Single source port, or list of ports separated by by commas. An example list could be 80,443,8080" name="sport" size=5 value='{{rule.sourcePort}}' class='validate' placeholder="Port"/>
	        </span>
            or
            <span>
			    <input title="Start of source port range" name=sport_start size=5 value='' class='validate' placeholder="Start"/>-
				<input title="End of source port range" name=sport_end size=5 value='' class='validate' placeholder="End"/>
		    </span>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Interface
        </span>

        <div class="aformcontent">
            <select name=source_dev>
                <option value=""></option>
                {% for device in devices %}
                <option value="{{device.interface}}" {% if rule.sourceInterface == device.interface %}SELECTED {%endif%}>
                {{device.name}} {{device.interface}}
                </option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>

<div class="aheading" data-for="destinationInfo">
    <span>Destination Criteria</span>
</div>

<div class="abody" id="destinationInfo">
    <div class="aformgroup">
        <span class="aformlabel">
            Alias
        </span>

        <div class="aformcontent">
            <select name=dest_alias>
                <option value=-1 selected></option>
                {% for alias in aliases %}
                <option value="{{alias.id}}" {% if rule.destAliasId == alias.id%}SELECTED {%endif%}>{{alias.name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            IPv4 Address
        </span>

        <div class="aformcontent">
            <input value="{{rule.destAddress}}" name=dest size=15 value='' class='validate' placeholder="Ip Address"/>
            / <input value="{{rule.destSubnet}}" name=dest_mask size=15 value='' class='validate' placeholder="Subnet Mask"/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Port
        </span>

        <div class="aformcontent">
				<span>
					<input value="{{rule.destPort}}" title="Single destination port, or list of ports separated by by commas. An example list could be 80,443,8080" name=dport size=5 value='' class='validate' placeholder="Port"/>
				</span>
            or
                    <span>
						<input value="{{rule.dport_start}}" title="Start of destination port range" name=dport_start size=5 value='' class='validate' placeholder="Start"/>-
						<input value="{{rule.dport_end}}" title="End of destination port range" name=dport_end size=5 value='' class='validate' placeholder="End"/>
					</span>
        </div>
    </div>
    <div class="aformgroup">
        <span class="aformlabel">
            Interface
        </span>

        <div class="aformcontent">
            <select name=dest_dev>
                <option value=""></option>
                {% for device in devices %}
                <option value="{{device.interface}}" {% if rule.destInterface == device.interface %}SELECTED {%endif%}>
                {{device.name}} {{device.interface}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>

<div id="advanceInfoLink" class="aheading" data-for="advanceInfo">
    <span>Advanced Options</span>
</div>

<div class="abody" id="advanceInfo" style="display:none;">
    <div class="aformgroup">
        <span class="aformlabel">
            Group
        </span>

        <div class="aformcontent">
            <select name=groupid>
                {% for group in groups %}
                <option value="{{group.id}}" {% if rule.group == group.name %}SELECTED {%endif %}>{{group.name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
    <div class="aformgroup">
        <span class="aformlabel">
            Protocol
        </span>

        <div class="aformcontent">
            <select name=protocol>
                <option value=''>any</option>
                <option value='TCP' {%if rule.protocol == 'TCP' %}SELECTED {%endif%}>TCP</option>
                <option value='UDP' {%if rule.protocol == 'UDP' %}SELECTED {%endif%}>UDP</option>
                <option value='ICMP' {%if rule.protocol == 'ICMP' %}SELECTED {%endif%}>ICMP</option>
                <option value='IGMP' {%if rule.protocol == 'IGMP' %}SELECTED {%endif%}>IGMP</option>
            </select>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Mac address
        </span>

        <div class="aformcontent">
            <input value="{{rule.hwAddress}}" class="validate" name="mac" placeholder="Mac Address"/>

        </div>

    </div>
    <div class="aformgroup">
        <span class="aformlabel">
            Time hour restriction
        </span>

        <div class="aformcontent">
            <input value="{{rule.startHour}}" title="Start of 24hour time range" class="validate" name="startHour" size=6 placeholder="Start"/> -
            <input value="{{rule.finishHour}}" title="End of 24hour time range" class="validate" name="finishHour" size=6 placeholder="Finish"/>
        </div>
    </div>


    <div class="aformgroup">
        <span class="aformlabel">
            Dont track
        </span>

        <div class="aformcontent">
            <input {%if rule.ignoreconntrack %} CHECKED {%endif %} title="If checked, the connection tracker will ignore packets matching this rule. This is helpful for debugging." type=checkbox name="ignoreconntrack"/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Log Packets
        </span>

        <div class="aformcontent">
            <input {% if rule.log %}CHECKED {%endif%} title="If checked, all packets matching this criteria will be logged to syslog" type=checkbox name="log"/>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Comments
        </span>

        <div class="aformcontent">
            <textarea name=comment>{{rule.comment}}</textarea></div>
    </div>
</div>


<div class="aheading">
    <span>Actions</span>
</div>

<div class="abody">
    {% if mode == "filtering" %}
    <div class="aformgroup">
        <span class="aformlabel">
            Filter
        </span>

        <div class="aformcontent">
            <input type=radio name=action value='ACCEPT' {% if rule.action == 1 %} CHECKED {%endif %} {% if not rule.action %}CHECKED{%endif%}/>
            <font color=#00aa00>Accept</font>

            <input type=radio name=action value='DROP' {% if rule.action == 0 %} CHECKED {%endif %}/>
            <font color=#ff0000>Drop</font>

        </div>
    </div>
    {%endif%}

    {% if mode == "forwarding" %}
    <div class="aformgroup">
        <span class="aformlabel">
            Masquerade
        </span>

        <div class="aformcontent">
            <input {% if rule.action == 2 %} CHECKED {%endif%} type=radio name=action value='MASQUERADE'/>Masquerade to:
            <select name=snat_device_target>
                <option value=-1></option>
                {% for device in devices %}
                <option value="{{device.interface}}" {% if rule.masqueradeTargetDevice == device.interface %} SELECTED {%endif%}>{{device.interface}}</option>
                {%endfor%}
            </select>
        </div>
    </div>

    <div class="aformgroup">
        <span class="aformlabel">
            Forward
        </span>

        <div class="aformcontent">
            <input {% if rule.action == 3 %} CHECKED {%endif%} type=radio name=action value='FORWARD'/>Forward to:
				<span>
					<input value="{{rule.forwardTarget}}" name=dnat_target size=12 class='validate' placeholder="Ip Address"/>
					:
					<input value="{{rule.forwardPort}}" name=dnat_port size=5 class='validate' placeholder="Port"/>
				</span>
        </div>
    </div>
    {%endif%}

    {% if mode == "priority" %}
    <div class="aformgroup">
        <span class="aformlabel">
            Prioritise Traffic
        </span>

        <div class="aformcontent">
            <input CHECKED type=radio name=action value='PRIORITISE'/>
            <select name="nice">
                <option value="1" {% if rule.nice == 1 %}SELECTED {%endif %}>1</option>
                <option value="2" {% if rule.nice == 2 %}SELECTED {%endif %}>2</option>
                <option value="3" {% if rule.nice == 3 %}SELECTED {%endif %}>3</option>
                <option value="4" {% if rule.nice == 4 %}SELECTED {%endif %}>4</option>
                <option value="5" {% if rule.nice == 5 %}SELECTED {%endif %}>5</option>
            </select>
        </div>
    </div>
    {%endif%}

    <div class="aformgroup">
        <span class="aformlabel"></span>

        <div class="aformcontent">
            <input class=submit type=submit value='Create Rule'>
        </div>
    </div>
</div>
</form>

{% endblock %}