{% extends "firewall.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Web Filter</a></li>
            <li><a href="#" class="last">Add Rule</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Add a webfilter rule
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#form1").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("span"));
            },

            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                sourceIp:{required:false,ipv4:true},
                sourceMask:{required:false,ipv4:true},
                startTime:{required:false,number:true},
                endTime:{required:false,number:true},
            },

            messages:{
                sourceIp:"Enter a valid IP address",
                sourceMask:"Enter a valid mask",
            }
        });

        $("#sourceAlias").val([
                {% for pool in rule.sourceAlias %}
                    "{{pool.sourceAlias}}",
                {%endfor %}
        ]);

        $("#group").val([
                {% for group in rule.groups%}
                    "{{group.group}}",
                {%endfor %}
        ]);

        $("#list").val([
                {% for list in rule.lists%}
                    "{{list.list}}",
                {%endfor %}
        ]);

    $(".chosen-select").chosen();
    });
</script>

{% if rule %}
<form id="form1" method="POST" action="/firewall/webfilter/add/{{rule.id}}">
    {% endif %}

    {% if not rule %}
    <form id="form1" method="POST" action="/firewall/webfilter/add">
        {% endif %}
        <div class="aheading">
            <span>Webfilter rules</span>
        </div>
        <br>

    <div class="abody">
        <div class="aformgroup">
        <span class="aformlabel">
            Source Network
        </span>

            <div class="aformcontent">
                <input value="{{rule.sourceIp}}" name=sourceIp size=15 class='validate' placeholder='Ip Address'>/
                <input value="{{rule.sourceMask}}" name=sourceMask size=15 class='validate' placeholder='Subnet Mask'>
            </div>
        </div>
        <div class="aformgroup">
        <span class="aformlabel">
            Source Pool
        </span>
            <div class="aformcontent">
            <select class="chosen-select" data-placeholder="Choose a source pool..." multiple id="sourceAlias" name="sourceAlias">
                {% for pool in pools %}
                <option value="{{pool.id}}">{{pool.name}}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <div class="aformgroup">
        <span class="aformlabel">
            Timeframe
        </span>
            <div class="aformcontent">
                {% if rule.startTime == -1 %}
                <input value="" type="text" size=3 class="validate" name="startTime"/>-
                <input value="" type="text" size=3 class="validate" name="endTime"/>
                {%endif %}

                {% if rule.startTime != -1 %}
                <input value="{{rule.startTime}}" title="24hour start time" type="text" size=3 class="validate" name="startTime"/>-
                <input value="{{rule.endTime}}" title="24hour end time" type="text" size=3 class="validate" name="endTime"/>
                {% endif %}

                Mon: <input {%if rule.mon %}CHECKED {%endif%} type="checkbox" name="mon">
                Tues: <input {%if rule.tues %}CHECKED {%endif%} type="checkbox" name="tues">
                Wed: <input {%if rule.wed%}CHECKED {%endif%} type="checkbox" name="wed">
                Thurs: <input {%if rule.thurs%}CHECKED {%endif%} type="checkbox" name="thurs">
                Fri: <input {%if rule.fri%}CHECKED {%endif%} type="checkbox" name="fri">
                Sat: <input {%if rule.sat %}CHECKED {%endif%} type="checkbox" name="sat">
                Sun: <input {%if rule.sun %}CHECKED {%endif%} type="checkbox" name="sun">
            </div>
        </div>
        <div class="aformgroup">
        <span class="aformlabel">
            Source Group
        </span>

            <div class="aformcontent">
                <select multiple class="chosen-select" data-placeholder="Choose a source group..." name=group id="group">
                    {% for group in groups %}
                    {% if group.id != -1 %}
                    <option value="{{group.id}}">{{group.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="aformgroup">
        <span class="aformlabel">
            Website List/Pool
        </span>

            <div class="aformcontent">
                <select multiple class="chosen-select" data-placeholder="Choose a website pool..." name="list" id="list">
                    {% for pool in pools %}
                    {% if pool.type == 2 %}
                    <option value="{{pool.id}}">{{pool.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

    </div>

    <div class="aheading">
        <span>Actions and Options</span>
    </div>
    <br>

    <div class="abody">

        <div class="aformgroup">
        <span class="aformlabel">
            Fire Event
        </span>

            <div class="aformcontent">
                <input {%if rule.fireEvent %}CHECKED {%endif%} name='fireEvent' type='checkbox'/>
            </div>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">
            Redirect
        </span>

            <div class="aformcontent">
                <input {%if rule.redirect %}CHECKED {%endif%} name='redirect' type='checkbox'/> : <input value="{{rule.redirectUrl}}" name="redirectUrl" type="text"/>
            </div>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">
            Filter Type
        </span>

            <div class="aformcontent">
                <select name='action'>
                    <option {%if rule.action == 0%}SELECTED{%endif%} value=0>Blacklist</option>
                    <option {%if rule.action == 1%}SELECTED{%endif%} value=1>Whitelist</option>
                    <option {%if rule.action == 2%}SELECTED{%endif%} value=2>Total Ban</option>
                </select>
            </div>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">

        </span>

            <div class="aformcontent">
                <input type=submit value="Add Rule">
            </div>
        </div>
    </div>
    <br>
</form>

{% endblock %}
