{% extends "firewall.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Web Filter</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure layer 7 web application filters. Here you can configure lists of blocked websites, and groups or
        subnets who are not permitted
        access to these websites
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li><a href="/firewall/webfilter/add">Add Rule</a></li>
            </ul>

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#form1").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("span"));
            },

            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                sourceIp:{required:false,ipv4:true},
                sourceMask:{required:false,ipv4:true},
            },

            messages:{
                sourceIp:"Enter a valid IP address",
                sourceMask:"Enter a valid mask",
            }
        })
    });
</script>
<br>
<div class="aheading">
    <span>Webfilter rules</span>
</div><br>
<div class="abody">
        <table class="list noresultstable border border">
            <thead>
            <th></th>
            <th>Source Ip</th>
            <th>Group</th>
            <th>Pool</th>
            <th>Type</th>
            <th>Operations</th>
            </thead>

            {% for rule in rules %}
            <tr>
                <td>
                    {% if rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/firewall/webfilter/disable/{{rule.id}}'>
                        <input type=checkbox value=on name=enabled CHECKED onchange='this.form.submit();'/>
                    </form>
                    {% endif %}

                    {% if not rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/firewall/webfilter/enable/{{rule.id}}'>
                        <input type=checkbox value=on name=enabled onchange='this.form.submit();'/>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if rule.sourceAlias %}
                        {% for alias in rule.sourceAlias %}
                        <a href="/firewall/aliases/{{alias.sourceAlias}}">{{alias.sourceAliasName}}</a>,
                        {% endfor %}
                    {%endif%}
                    {% if rule.sourceIp and not rule.sourceAlias %}
                    {{rule.sourceIp | safe}}/{{rule.sourceMask | safe}}
                    {% endif %}
                    {% if not rule.sourceIp %}
                    any host
                    {%endif%}
                </td>
                <td>
                    {% for group in rule.groups %}
                        {{group.groupName | safe }},
                    {% endfor %}
                </td>
                <td>
                    {% for list in rule.lists %}
                    <a href="/firewall/aliases/{{list.list}}">{{list.listName}}</a>,
                    {% endfor %}
                </td>
                <td class="darkbackground">
                    {% if rule.startTime != -1 and rule.endTime != -1 %}
                    Between {% if rule.startTime < 1000 %} 0{{rule.startTime}} {%endif%} {% if rule.startTime > 1000 %} {{rule.startTime}} {%endif%}
                    and {% if rule.endTime < 1000 %} 0{{rule.endTime}} {%endif%} {% if rule.endTime > 1000 %} {{rule.endTime}} {%endif%} on,

                    {% if rule.mon %}
                    Mon,
                    {% endif %}

                    {% if rule.tues%}
                    Tues,
                    {% endif %}

                    {% if rule.wed%}
                    Wed,
                    {% endif %}

                    {% if rule.thurs%}
                    Thurs,
                    {% endif %}

                    {% if rule.fri%}
                    Fri,
                    {% endif %}

                    {% if rule.sat%}
                    Sat,
                    {% endif %}

                    {% if rule.sun%}
                    Sun,
                    {% endif %}

                    {% endif %}
                    {% if rule.action == 0 %}
                    Blacklist
                    {% endif %}
                    {% if rule.action == 1 %}
                    {% if rule.exclusive %}
                    Exclusive
                    {% endif %}
                    Whitelist
                    {% endif %}

                    {% if rule.action == 2 %}
                    Total Ban
                    {% endif %}

                    {% if rule.fireEvent %}
                    and <font color=red>fire event</font>
                    {% endif %}

                    {% if rule.redirect %}
                    and redirect to {{rule.redirectUrl}}
                    {% endif %}
                </td>
                <td class="darkbackground">
                    <a href="/firewall/webfilter/add/{{rule.id}}">Edit</a> |
                    <a href="/firewall/webfilter/{{rule.id}}/moveup">Up</a> |
                    <a href="/firewall/webfilter/{{rule.id}}/movedown">Down</a> |
                    <a href="/firewall/webfilter/{{rule.id}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}
