{% extends "status.html" %}
{% block body %}

<script>
    $(function(){
        var data = [];

        {% for i in connections %}
            data.push([getTime("{{i.time}}:00:00"),{{i.value}}]);
        {% endfor %}

        $.plot($("#conns"),
                [
                    {label:name, data:data}
                ], {xaxis:{mode:'time'}, lines:{fill:true},
                    grid:{
                        borderWidth:1,
                        borderColor:'#ccc'
                    }

                });
    });
</script>

<div class="aheading">
    <span>Alerts and Notifications</span>
</div>
<br>
<div class="abody">
    {% if defaultPasswordSet %}
    <!--<br>-->
    <div class="alert">
    <span class="message"><b>Warning:</b> We have noticed that you have not changed the default admin password, this is a security risk and
    must be changed. Please click <a href="/configuration/users/admin">here</a> to set a new password</span>
    </div>
    {% endif %}

    {% if defaultRuleset %}
    <!--<br>-->
    <div class="alert">
    <span class="message"><b>Warning:</b> We have noticed that you are running the default ruleset, we recommend that you change this to suite your needs. To begin
    <a href="/firewall/filtering">click here</a></span>
    </div>
    {% endif %}

</div>

<div class="aheading">
    <span>Active Connections</span>
</div>
<br>

<div class="abody">
    {% if not reportingConnected %}
    <div class="alert">
        <span class="message"><b>Warning:</b> Sphirewall cannot connect to the analytics service at the moment, it does not appear to be running</span>
    </div>
    {% endif %}

    {% if reportingConnected %}
    <div id="conns" style="width: 99%; height: 300;"></div>
    {% endif %}
</div>

<div class="aheading">
    <span>Vital Information</span>
</div>
<br>
<div class="abody">
    <div class="agroup">
        <span class="agrouplabel">Total Connections:</span>

        <div class="agroupcontent"><a id="activeconnections" href="/status/connections">{{totalConnection}}</a></div>
    </div>

    <div class="agroup">
    <span class="agrouplabel">Active Users:</span>

        <div class="agroupcontent"><a id="authenticatedusers" href="/status/clients">{{totalUsers}}</a></div>
    </div>
    <div class="agroup">
        <span class="agrouplabel">Active Hosts:</span>

        <div class="agroupcontent"><a id="clients" href="/status/clients">{{totalHosts}}</a></div>
    </div>

    <div class="agroup">
        <span class="agrouplabel">Events Alerted:</span>

        <div class="agroupcontent"><a id="events" href="/status/events">{{events | safe}}</a></div>
    </div>
</div>

<div class="aheading">
    <span>Sphirewall Details</span>
</div>
<br>
<div class="abody">
    <div class="agroup">
        <span class="agrouplabel">Release/Build:</span>

        <div class="agroupcontent"><span id="version"></span> <span id="versionname">{{version.version | safe}} -- {{version.name | safe}}</span></div>
    </div>
    <div class="agroup">
        <span class="agrouplabel">Service Host:</span>

        <div class="agroupcontent">{{hostname | safe}}</div>
    </div>
    <div class="agroup">
        <span class="agrouplabel">Service Port:</span>

        <div class="agroupcontent">{{port | safe}}</div>
    </div>
    <div class="agroup">
        <span class="agrouplabel">Token:</span>

        <div class="agroupcontent">{{token | safe}}</div>
    </div>
</div>
{% endblock %}
