<html>
<html>
<head>
    <title>Sphirewall WMI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/tables.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/navigation.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/jquery-ui-1.9.2.custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/TableTools.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/TableTools_JUI.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/chosen.min.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-1.9.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-migrate-1.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui-1.9.2.custom.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.flot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/sphirewall.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/additional-methods.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.flot.pie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/protocols.js') }}"></script>
</head>
<body>
<div id="header">
    <span class="header-branding">sphirewall wmi</span>
    <span class="header-links">
        <span class="link"><a href="/">Monitoring</a><i class="icon-eye-open icon-white"></i></span>
        <span class="link"><a href="/configuration/general">Configure</a><i class="icon-wrench icon-white"></i></span>
        <span class="link"><a href="/network/devices">Networking</a><i class="icon-signal icon-white"></i></span>
        <span class="link"><a href="/firewall/filtering">Firewall</a><i class="icon-ban-circle icon-white"></i></span>
    </span>

    <span class="logout">
        <a href="/logout" style="background-color: white;padding: 5px;color: black;font-weight: bolder;border-radius: 3px;">Logout Now</a>
    </span>
</div>

<div id="feedback" style="display:none;"></div>
<script>
</script>
<div id="navigation">
    {% block navigation %}
    {% endblock %}
</div>
<div id="rightbar"></div>
<div id="content">
    {% block reportingtags %}
    {% endblock %}

    {% block body %}
    {% endblock %}
</div>
</body>
</html>