<html>
<body>
<style>
    body {
        background-color: #205081;
    }

    .title {
        color: white;
        font-family: arial;
        font-size: 25px;
    }

    .error {
        color: white;
        font-family: arial;
        font-size: 15px;
    }

    .area {
        width: 100%;
        bottom: 200px;
        position: absolute;
        border-bottom: solid 2px white;
    }

    .inline {
        display:inline-block;
    }

    .right{
        float:right;
    }

    .padding-right {
        margin-right:20px;
    }
</style>
<div class="area">
    <div class="title inline">
        sphirewall wmi login
    </div>
    <div class="inline right padding-right">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input value="localhost" style="display:inline;" type="text" name="host" placeholder="Host">
            <input value="8001" style="display:inline;" size=5 type="text" name="port" placeholder="Port">
            <input name="login" class="btn primary" value="Sign in" type="submit"></button>
        </form>
    </div>

    {% if error %}
    <span class="error">{{error}}</span>
    {% endif%}
</div>
</body>
</html>