{% extends "network.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="/network/vpn">Vpn Servers</a></li>
            <li><a href="#" class="last">Manage Server: {{vpn.name}} </a></li>
        </ul>
    </div>
    <div id="banner-description">
        Setup and configure your openvpn service
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                {% if vpn.status %}
                <li><a href='/network/vpn/{{vpn.name | safe}}/stop'>Stop</a></li>
                {% endif %}

                {% if not vpn.status %}
                <li><a href='/network/vpn/{{vpn.name | safe}}/start'>Start</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<br>

<script>
    function scrollLogToEnd(){
        var objDiv = document.getElementById("logview");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    $(function(){
        scrollLogToEnd();
    });
</script>

<script>
    $(document).ready(function(){
        jQuery.validator.addMethod("noSpace",function(value,element){
            return value.indexOf(" ")<0&&value!="";
        },"Space are not allowed");

        $("#form").validate({
            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },
            rules:{
                clientname:{required:true,noSpace:true},
            },

            messages:{
                clientname:"Client name cannot include spaces",
            }
        });

        $("#form1").validate({
            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                remoteserverip:{required:true},
                remoteport:{required:true,number:true},
                serverip:{required:true,ipv4:true},
                servermask:{required:true,ipv4:true},
                sserverip:{required:true,ipv4:true},
                clientip:{required:true,ipv4:true},
            },

            messages:{
                remoteserverip:"Remote server ip is required, this is the device to bind to",
                remoteport:"Port number must be numberic",
                serverip:"Must be a valid ipaddress",
                servermask:"Must be a valid ip mask",
                sserverip:"Must be a valid ipaddress",
                sservermask:"Must be a valid ip mask",
            }
        });

        initToggleTab("openvpn","settings");
    });
</script>


<div class="tab-button-row" style="position:relative;">
    <a href="#" data-panelid="settings" class="tab-button" onclick="toggleTab(event, 'openvpn');">General Server
        Settings</a>
    <a href="#" data-panelid="clients" class="tab-button" onclick="toggleTab(event, 'openvpn');">Clients</a>
    <a href="#" data-panelid="log" class="tab-button" onclick="toggleTab(event, 'openvpn');scrollLogToEnd();">Service Log</a>

    {% if vpn.status %}
    <span class='status' style='background-color:green'>Running</span>
    {% endif %}

    {% if not vpn.status %}
    <span class='status' style='background-color:red'>Not running</span>
    {% endif %}
</div>

<div id="openvpn">
    <div id="settings">
        <div class="aheading">
            <span>General Server Options</span>
        </div>

        <div class="abody">
            <form id=form1 method="POST">
                <div class="aformgroup">
                    <span class="aformlabel">Listen on:</span>

                    <div class="aformcontent">
                        <input class="validate" placeholder="Hostname or Ip" name="remoteserverip"
                               value="{{vpn.remoteserverip | safe}}" title="Remote server hostname or ip address to use in client configuration. If your external hostname was vpn.awesome.com you would set this here.">
                        :
                        <input class="validate" placeholder="Port" size="5" name="remoteport"
                               value="{{vpn.remoteport | safe}}" title="Vpn listen port. Clients will connect to this port.">
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">LZO Compression:</span>

                    <div class="aformcontent">
                        <input type='checkbox' name='compression' {% if vpn.compression %} CHECKED {%endif%}>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Custom Options:</span>

                    <div class="aformcontent">
                        <textarea title="Specify custom openvpn server options separated by line. See the openvpn docs for available options." class="textarea" name="customopts"
                                  style="width:500px;height:100px">{{vpn.customopts | safe}}
                        </textarea>
                    </div>
                </div>

                {% if vpn.type == 'tls' %}
                <div class="aformgroup" id="tlsProperties">
                    <span class="aformlabel">Client Range:</span>

                    <div class="aformcontent">
                        <input title="Specify a client network ip address." placeholder="Ip Address" class="validate" name="serverip"
                               value="{{vpn.serverip | safe}}">/
                        <input title="Specify a client subnet address." placeholder="Subnet Mask" class="validate" name="servermask"
                               value="{{vpn.servermask | safe }}">
                    </div>
                </div>
                {%endif%}

                {% if vpn.type == 'static' %}
                <div id="staticProperties">
                    <div class="aformgroup">
                        <span class="aformlabel">Server IP:</span>

                        <div class="aformcontent">
                            <input title="Server ip address, this address will be used as the server side endpoint. You must pick an unused address." placeholder="Ip Address" class="validate" name="serverip"
                                   value="{{vpn.serverip | safe}}">
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Client IP:</span>

                        <div class="aformcontent">
                            <input title="Client ip address, this address will be used as the client side endpoint. You must pick an unused address." placeholder="Ip Address" class="validate" name="clientip"
                                   value="{{vpn.clientip | safe}}">
                        </div>
                    </div>
                </div>
                {%endif%}
                <div class="aformgroup">
                    <span class="aformlabel"></span>

                    <div class="aformcontent">
                        <input type="submit" value="Save Configuration"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="log" style="display:none;">
        <div class="aheading">
            <span>Logfile</span>
        </div>
        <div id="logview" class="abody" style="overflow-y: scroll; height:500px;">
            <p>
                {{log| safe}}
            </p>
        </div>
    </div>

    <div id="clients" style="display:none;">
        <div class="aheading">
            <span>Client configuration files</span>
        </div>
        <br>

        <div class="abody">
            <form id="form" method="POST" action="/network/vpn/{{vpn.name | safe}}/client">
                <table id="clientstablelist" class="list border">
                    <thead>
                    <th>Name</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                    <tr>
                        <td><a href="/network/vpn/{{vpn.name | safe}}/client/{{client.name| safe}}">{{client.name|
                            safe}}</a></td>
                        <td><a href="/network/vpn/{{vpn.name}}/client/{{client.name}}/delete">Delete Client</a></td>
                    </tr>
                    {%endfor %}

                    {% if vpn.type == 'tls' %}
                    <tr>
                        <td><input placeholder='Client Name' id=clientname name=clientname size=30 class='validate'>
                        <td><input type=submit value=create></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</div>

{% endblock %}