{% extends "network.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="#" class="last">Connections</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Setup and manage ppp connections, perfect for DSL connections
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div id="connections">

    <div class="aheading">
        <span>Network connections configured</span>
    </div>
    <br>

    <div class="abody">
        <script>
            $(document).ready(function(){
                $("#form").validate({
                    errorPlacement:function(error,element){
                        error.appendTo(element.parent('td'));
                    },

                    submitHandler:function(){
                        form.submit();
                    },
                    rules:{
                        name:{required:true,nowhitespace:true},
                    },
                });
            });
        </script>
        <form id="form" method="POST" action="/network/connections">
            <table id="connectionstable" class="list border">
                <thead>
                <th>Name</th>
                <th>Type</th>
                <th>State</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for connection in connections %}
                <tr>
                    <td><a href="/network/connections/{{connection.name}}">{{connection.name}}</a></td>
                    <td>
                        {% if connection.type == 0 %}
                        PPPoE
                        {%endif%}
                        {% if connection.type == 1 %}
                        Openvpn
                        {%endif%}
                    </td>
                    <td>
                        {% if connection.state %}
                        ONLINE
                        {% endif %}
                        {% if not connection.state %}
                        OFFLINE
                        {% endif %}
                    </td>
                    <td><a href="/network/connections/delete/{{connection.name}}">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><input id="name" class="validate" name=name></td>
                    <td>
                        <select name='type'>
                            <option value=0>PPPoE</option>
                            <option value=1>Openvpn</option>
                        </select>
                    </td>
                    <td></td>
                    <td><input type=submit value='Add Connection'></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>


{% endblock %}