{% extends "network.html" %}
{% block body %}

<script>
    $(function(){
        initToggleTab("editNetworkDevice","details");
    });
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="/network/devices">Network Devices</a></li>
            <li><a href="#" class="last">Edit: {{device.interface | safe }}</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure individual network device
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li>
                    <a href="/network/devices/publish">Publish Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>

<script>

    $(function(){
        $("#bridgeDevices").val([
                {% for name in device.bridgeDevices %}
                "{{name}}",
                {%endfor %}
         ]);

        jQuery(".chosen-select").data("placeholder","").chosen();

        setupScrollingLog();
        function setupScrollingLog(){
            var objDiv = document.getElementById("logview");
            objDiv.scrollTop = objDiv.scrollHeight;
        }
    });
</script>

<div class="tab-button-row" style="position:relative;">
    <a href="#" data-panelid="details" class="tab-button" onclick="toggleTab(event, 'editNetworkDevice');">IP
        Configuration</a>
    <a href="#" data-panelid="dhcppanel" class="tab-button" onclick="toggleTab(event, 'editNetworkDevice');setupScrollingLog();">Dhcpd Server</a>
</div>

<div id="editNetworkDevice">
<div id="details">
    <div class="aheading">
        <span>Device Configuration</span>
    </div>

    <div class="abody">
        <script>
            $(document).ready(function(){
                $("#form1").validate({
                    errorPlacement:function(error,element){
                        error.appendTo(element.parent("div"));
                    },

                    rules:{
                        ip:{ipv4:true},
                        mask:{ipv4:true}
                    },

                    messages:{
                    },

                    submitHandler:function(){
                        form1.submit();
                    },
                });
            });
        </script>

        <form id="form1" method="POST">
            <div class="aformgroup">
                <span class="aformlabel">Interface:</span>

                <div class="aformcontent">
                    <input id="device" name="device" size="20" class="validate" value="{{device.interface | safe}}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Name/Label:</span>

                <div class="aformcontent">
                    <input id="name" name="name" size="20" class="validate" value="{{device.name | safe}}"/>
                </div>
            </div>
            <br>
            <div class="aformgroup">
                <span class="aformlabel">Dhcp Enabled:</span>

                <div class="aformcontent">
                    <input id="dhcp" name="dhcp" type="checkbox" {% if device.dhcp %} CHECKED {%endif %} />
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">IPv4 Address:</span>

                <div class="aformcontent">
                    <input {% if device.dhcp %} disabled {%endif%} id="ip" name="ip" size="20" class="validate"
                    value="{{device.ip | safe}}">/
                    <input {% if device.dhcp %} disabled {%endif%} id="mask" name="mask" size="20" class="validate"
                    value="{{device.mask| safe}}">
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Gateway:</span>

                <div class="aformcontent">
                    <input {% if device.dhcp %} disabled {%endif%} id="gateway" name="gateway" size="20" class="validate"
                    value="{{device.gateway | safe}}">
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Aliases:</span>

                <div class="aformcontent">
                    <textarea id="aliases" rows="3" cols="40" name="aliases" title="Additional alias ip addresses separated by spaces. For example 10.1.1.1/255.255.255.255 10.1.1.2/255.255.255.255">{{device.aliases}}</textarea>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Network Bridge:</span>

                <div class="aformcontent">
                    <input id="bridge" name="bridge" type="checkbox" {% if device.bridge %} CHECKED {%endif %} />
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Bridged Devices:</span>

                <div class="aformcontent">
                    <select multiple class="chosen-select" data-placeholder="." name="bridgeDevices" id="bridgeDevices">
                        {% for d in devices %}
                        {%if d.type != 3 %}
                        <option value="{{d.interface}}">{{d.interface}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel"></span>

                <div class="aformcontent">
                    <input type="submit" id="submit-main" value="Save Configuration"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="dhcppanel">
    <div class="aheading">
        <span>Zone configuration</span>
    </div>

    <div class="abody">
        <script>
            $(document).ready(function(){
                $("#dhcpOptionsForm").validate({
                    errorPlacement:function(error,element){
                        error.appendTo(element.parent("div"));
                    },

                    rules:{
                        startIpAddress:{required:false, ipv4:true},
                        finishIpAddress:{required:false, ipv4:true},
                        domainNameService:{required:false, ipv4:true},
                        domainName:{required:false, nowhitespace:true},
                        defaultRouter:{required:false, ipv4:true},
                    },

                    messages:{
                    },

                    submitHandler:function(){
                        dhcpOptionsForm.submit();
                    },
                });
            });
        </script>
        <form id=dhcpOptionsForm method="POST" action="/network/devices/{{device.interface | safe}}/dhcp">
            <div class="aformgroup">
                <span class="aformlabel">Enabled</span>

                <div class="aformcontent">
                    <input class="validate" name="enabled" type="checkbox" {% if dhcp.enabled %} CHECKED {%endif%} />
                </div>
            </div>

            {% if dhcp.enabled %}
            <div class="aformgroup">
                <span class="aformlabel">Address Range</span>

                <div class="aformcontent">
                    <input id="startIpAddress" placeholder="Network Address" name="startIpAddress" value="{{dhcp.startIpAddress | safe}}"
                           class='validate'>/
                    <input id="finishIpAddress" placeholder="Subnet Mask" name="finishIpAddress" value="{{dhcp.finishIpAddress| safe}}"
                           class='validate'>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Dns Server</span>

                <div class="aformcontent">
                    <input id="domainNameService" class="validate" placeholder="Domain name server" name="domainNameService"
                           value="{{dhcp.domainNameService | safe }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Domain Name</span>

                <div class="aformcontent">
                    <input id="domainName" class="validate" placeholder="Domain Name" name="domainName"
                           value="{{dhcp.domainName | safe}}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Default Gateway</span>

                <div class="aformcontent">
                    <input id="defaultRouter" placeholder="Default Router" name="defaultRouter"
                           value="{{dhcp.defaultRouter | safe }}" class='validate'>
                </div>
            </div>
            {% endif%}
            <div class="aformgroup">
                <span class="aformlabel"></span>

                <div class="aformcontent">
                    <input name="submit" type="submit" value="Save Configuration"/>
                </div>
            </div>

        </form>
    </div>

    {% if dhcp.enabled %}
    <div class="aheading">
        <span>Static leases</span>
    </div>
    <br>

    <div class="abody">
        <script>
            $(document).ready(function(){
                $("#staticleasesform").validate({
                    errorPlacement:function(error,element){
                        error.appendTo(element.parent("td"));
                    },

                    rules:{
                        hostname:{required:true, nowhitespace:true},
                        ip:{required:true, ipv4:true},
                        hw:{required:true, nowhitespace:true},
                    },

                    messages:{
                    },

                    submitHandler:function(){
                        staticleasesform.submit();
                    },
                });
            });
        </script>

        <form id="staticleasesform" method="POST" action="/network/devices/{{device.interface}}/dhcp/leases">
            <table id="staticleases" class="list border paging filtered export">
                <thead>
                <th>Hostname</th>
                <th>Ip</th>
                <th>Mac Address</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for lease in staticleases %}
                <tr>
                    <td>{{lease.hostname}}</td>
                    <td>{{lease.ip}}</td>
                    <td>{{lease.hw}}</td>
                    <td>
                        <a href="/network/devices/{{device.interface}}/dhcp/leases/delete/{{lease.hostname}}/{{lease.ip}}/{{lease.hw}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td><input id="hostname" value="{{dhcpHostname}}" name=hostname size=30 placeholder='Hostname' class='validate'>
                    </td>
                    <td><input value="{{dhcpHost}}" type="text" placeholder='Ip Address' name="ip" id="ip" class='validate'>
                    </td>
                    <td><input value="{{dhcpHw}}" name="hw" placeholder='Hardware Mac' id="hw" class='validate'>
                    </td>
                    <td><input type=submit id='add-staticlease' value='Add Static Lease'></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="aheading">
        <span>Active network clients</span>
    </div>
    <br>

    <div class="abody">
        <table id="clients" class="list border paging filtered export">
            <thead>
            <th>Hostname</th>
            <th>Ip</th>
            <th>Mac Address</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for c in clients %}
            <tr>
                <td>
                    {{c.hostname}}
                </td>
                <td>{{c.host}}</td>
                <td>{{c.hw}}</td>
                <td><a href="/network/devices/{{device.interface}}?hostname={{c.hostname}}&host={{c.host}}&hw={{c.hw}}">Add Lease</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="aheading">
        <span>Logs</span>
    </div>
    <br>

    <div class="abody">
        <div id="logview" class="abody" style="overflow-y: scroll; height:300px;">
            {{logs | safe}}
        </div>
    </div>
    {% endif%}
</div>
</div>
</div>

{% endblock %}