{% extends "network.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="#" class="last">Wireless</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage a wireless access point.
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
    {% if online %}
    <span class='status' style='background-color:green'>Online</span>
    {% endif %}
    {% if not online %}
    <span class='status' style='background-color:red'>Offline</span>
    {% endif %}
<div>
<div class="aheading">
        <span>Configuration</span>
    </div>

    <div class="abody">
        <script>
            $(document).ready(function(){
                $("#form1").validate({
                    errorPlacement:function(error,element){
                        error.appendTo(element.parent("div"));
                    },

                    rules:{
                        ssid:{required:true, nowhitespace:true},
                    },

                    messages:{
                    },

                    submitHandler:function(){
                        form1.submit();
                    },
                });
            });
        </script>
        <form id="form1" name="form1" method=POST>
            <div class='aformgroup'><span class='aformlabel'>Enabled:</span>

                <div class='aformcontent'><input name='enabled' type="checkbox" {%if enabled %} CHECKED {%endif%}>
                </div>
            </div>
            <div class='aformgroup'><span class='aformlabel'>SSID:</span>

                <div class='aformcontent'><input class="validate" id="ssid" name='ssid' placeholder='SSID' value='{{ssid| safe}}'>
                </div>
            </div>
            <div class='aformgroup'><span class='aformlabel'>Interface:</span>

                <div class='aformcontent'>
                    <select name="interface">
                        {% for device in devices %}
                        <option value="{{device.interface}}" {% if device.interface == interface %} SELECTED {%endif%}>{{device.interface}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class='aformgroup'><span class='aformlabel'>Channel:</span>

                <div class='aformcontent'>
                    <select name="channel">
                        <option value="1" {%if channel == 1 %} SELECTED {%endif%}>1</option>
                        <option value="2" {%if channel == 2 %} SELECTED {%endif%}>2</option>
                        <option value="3" {%if channel == 3 %} SELECTED {%endif%}>3</option>
                        <option value="4" {%if channel == 4 %} SELECTED {%endif%}>4</option>
                        <option value="5" {%if channel == 5 %} SELECTED {%endif%}>5</option>
                        <option value="6" {%if channel == 6 %} SELECTED {%endif%}>6</option>
                        <option value="7" {%if channel == 7 %} SELECTED {%endif%}>7</option>
                        <option value="8" {%if channel == 8 %} SELECTED {%endif%}>8</option>
                        <option value="9" {%if channel == 9 %} SELECTED {%endif%}>9</option>
                        <option value="10" {%if channel == 10 %} SELECTED {%endif%}>10</option>
                        <option value="11" {%if channel == 11 %} SELECTED {%endif%}>11</option>
                    </select>
                </div>
            </div>
            <div class='aformgroup'><span class='aformlabel'>Driver:</span>
                <!--hostap/wired/madwifi/test/none/nl80211/bsd-->
                <div class='aformcontent'>
                    <select name="driver">
                        <option value="hostap" {%if driver == "hostap" %} SELECTED {%endif%}>hostap</option>
                        <option value="wired" {%if driver == "wired" %} SELECTED {%endif%}>wired</option>
                        <option value="madwifi" {%if driver == "madwifi" %} SELECTED {%endif%}>madwifi</option>
                        <option value="none" {%if driver == "none" %} SELECTED {%endif%}>none</option>
                        <option value="nl80211" {%if driver == "nl80211" %} SELECTED {%endif%}>nl80211</option>
                        <option value="bsd" {%if driver == "bsd" %} SELECTED {%endif%}>bsd</option>
                    </select>
                </div>
            </div>

            <div class='aformgroup'><span class='aformlabel'></span>
                <div class='aformcontent'><input type='submit' value='Save Configuration'/></div>
            </div>
        </form>
    </div>
</div>

{%endblock %}