{% extends "layout.html" %}

{% block navigation %}
<br>
<span class="navtitle">Network</span>
<a class="mO" href="/network/devices">Devices</a>
<a class="mO" href="/network/connections">Connections</a>
<a class="mO" href="/network/wireless">Wireless</a>

<br>
<span class="navtitle">Services</span>
<a class="mO" href="/network/dns">Dns Settings</a>
<a class="mO" href="/network/vpn">Vpn Servers</a>
<a class="mO" href="/network/dyndns">Global Dyndns</a>

{% endblock %}

