{% extends "network.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="#" class="last">Network Devices</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure individual network devices
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li><a href="/network/devices/newdevice">Add Device</a></li>
                <li>
                    <a href="/network/devices/publish">Publish Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% if not isSynced %}
<div class="alert">
    <span class="message"><b>Warning:</b> Not synced, you must publish these changes before they become active. <a href="/network/devices/publish">Publish now!</a></span>
</div>
{% endif %}

<div class="aheading">
    <span>Visible Network Devices</span>
</div>
<br>

<div class="abody">
    <table id="users" class="list border">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Ip</th>
        <th>Mask</th>
        <th>State</th>
        <th>Operations</th>
        </thead>
        <tbody>
        {% for device in devices %}
        <tr>
            <td>
                {% if device.configured %}
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/network/devices/{{device.interface}}/remove'>
                    <input title="Persist this interface. If checked, sphirewall will write to the interfaces file on startup, and configure this device." type=checkbox value=on name=enabled CHECKED onchange='submit();'/>
                </form>
                {%endif %}

                {% if not device.configured %}
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/network/devices/{{device.interface}}/add'>
                    <input title="Persist this interface. If checked, sphirewall will write to the interfaces file on startup, and configure this device." type=checkbox value=on name=enabled onchange='submit();'/>
                </form>
                {%endif %}
            </td>
            <td><a href="/network/devices/{{device.interface}}">{{device.name}} {{device.interface}}</a></td>
            <td>{{device.ip}}</a></td>
            <td>{{device.mask}}</a></td>
            <td>
                {% if device.state %}
                UP
                {% endif %}
                {% if not device.state %}
                DOWN
                {% endif %}
            </td>
            <td>
                {% if device.state %}
                <a href="/network/devices/{{device.interface}}/toggle">Bring Down</a>
                {% endif %}
                {% if not device.state %}
                <a href="/network/devices/{{device.interface}}/toggle">Bring Up</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="aheading">
    <span>Static Routing Table</span>
</div>
<br>

<div class="abody">
    <script>
        $(document).ready(function(){
            $("#form").validate({
                errorPlacement:function(error,element){
                    error.appendTo(element.parent("td"));
                },

                rules:{
                    dest:{required:true,cidr:true},
                    gw:{required:true,ipv4:true},
                    device:{required:true},
                },

                messages:{
                },

                submitHandler:function(){
                    form.submit();
                },
            });
        });
    </script>
    <form id="form" method="POST" action="/network/devices/routes">
        <table id="routetable" class="list border">
            <thead>
            <th>Destination</th>
            <th>Gateway</th>
            <th>Device</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for route in routes %}
            <tr>
                <td>{{route.dest}}</td>
                <td>{{route.gw}}</td>
                <td>{{route.device}}</td>
                <td><a href="/network/devices/routes/del/{{route.id}}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <td><input title="Destination CIDR subnet. For the default gateway, you could specify 0.0.0.0/0 here" placeholder="Destination" class='validate' id='dest' name=dest></td>
                <td><input title="Gateway ip address or hostname" placeholder="Gateway" class='validate' id='gw' name=gw></td>
                <td>
                    <select name="device">
                        {% for device in devices %}
                        <option value="{{device.interface}}">{{device.interface}}</option>
                        {%endfor%}
                    </select>
                <td><input type=submit value='Add Route'></td>
            </tfoot>
        </table>
    </form>
</div>
{%endblock %}