{% extends "network.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="#" class="last">Dns Configuration</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure sphirewall's dns settings
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $("#form").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("span").next("div"));
            },

            debug:true,
            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },
            rules:{
                dns1:{required:false,ipv4:true},
                dns2:{required:false,ipv4:true},
            },

            messages:{
                dns1:"Enter a valid dns server ip address",
                dns2:"Enter a valid dns server ip address",
            }
        });
    });
</script>

<div class="aheading">
    <span>Dns Options</span>
</div>
<div class="abody">
    <form id=form method="POST">
        <div class="aformgroup">
            <span class="aformlabel">
                Domain
            </span>

            <div class="aformcontent">
                <input name="domain" class="validate" value="{{settings.domain|safe}}" size=15>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
                Search Domain
            </span>

            <div class="aformcontent">
                <input name="search" class="validate" value="{{settings.search | safe}}" size=15></div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
                Primary NS
            </span>

            <div class="aformcontent">
                <input name="dns1" value="{{settings.ns1 | safe}}" size=15 class='validate'/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
                Secondary NS
            </span>

            <div class="aformcontent">
                <input name="dns2" value="{{settings.ns2 | safe}}"
                size=15
                class='validate'>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
            </span>

            <div class="aformcontent">
                <input type="submit" value="Save Configuration"/>
            </div>
        </div>

    </form>
</div>

{% endblock %}