{% extends "network.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/network/devices">Network</a></li>
            <li><a href="#" class="last">Vpn Servers</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Download and install the Openvpn Service.
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<script>
    function toggleOptions(){
        var val=$("select[name='type']").val();
        if(val=="static"){
            setInvisible("tlsproperties");
        }else{
            setVisible("tlsproperties");
        }
    }

    $(document).ready(function(){
        $("#form1").validate({
            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                name:{required:true,nowhitespace:true}
            },

            messages:{
            }
        });

        toggleOptions();
    });
</script>

<div>
    <div class="aheading">
        <span>Vpn server instances</span>
    </div>
    <br>

    <div class="abody">
        <form id="form1" name="form1" method=POST>
            <table id="users" class="list border">
                <thead>
                <th>Name</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for vpn in vpns %}
                <tr>
                    <td><a href="/network/vpn/{{vpn.name}}">{{vpn.name}}</a></td>
                    <td>
                        <a href="/network/vpn/{{vpn.name}}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <td valign="top">
                        <input placeholder="Name" id="name" type="text" name="name" class="validate">
                    </td>
                    <td>
                        <select id="type" name="type" onchange="toggleOptions();">
                            <option value="static">Openvpn Static Key</option>
                            <option value="tls">Openvpn TLS Keys</option>
                        </select>

                        <table id="tlsproperties">
                            <tr>
                                <td>
                                    <span class="fieldname">Country</span>
                                    <span class="fielddesc">Specify a country for your certificate</span>
                                </td>
                                <td>
                                    <input name="certcountry" value="US">
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <span class="fieldname">Province</span>
                                    <span class="fielddesc">Specify a province for your certificate</span>
                                </td>
                                <td>
                                    <input name="certprovince" value="CA">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fieldname">City Name</span>
                                    <span class="fielddesc">Specify a city for your certificate</span>
                                </td>
                                <td>
                                    <input name="certcity" value="SanFrancisco">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <span class="fieldname">Organisation Name</span>
                                    <span class="fielddesc">Specify a organisation for your certificate</span>
                                </td>
                                <td>
                                    <input name="certorg" value="Fort-Funston">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fieldname">Contact Email</span>
                                    <span class="fielddesc">Contact email for your certificate</span>
                                </td>
                                <td>
                                    <input name="certemail" value="jack@sphirewall.net">
                                </td>
                            </tr>
                        </table>
                        <input type=submit id="submit" value="Save and Install">
                    </td>
                </tfoot>
            </table>
        </form>
    </div>
</div>

{%endblock %}