{% extends "status.html" %}
{% block reportingtags %}

<script>

    function getURLParameter(name){
        return decodeURI((RegExp(name+'='+'(.+?)(&|$)').exec(location.search)||[,null])[1]);
    }

    function createCookie(name,value,days){
        if(days){
            var date=new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires="; expires="+date.toGMTString();
        }else var expires="";
        document.cookie=escape(name)+"="+escape(value)+expires+"; path=/";
    }

    function readCookie(name){
        var nameEQ=escape(name)+"=";
        var ca=document.cookie.split(';');
        for(var i=0; i<ca.length; i++){
            var c=ca[i];
            while(c.charAt(0)==' ') c=c.substring(1,c.length);
            if(c.indexOf(nameEQ)==0) return unescape(c.substring(nameEQ.length,c.length));
        }
        return null;
    }

    function setMetric(value){
        createCookie("reportingmetric",value,1)
    }

    function adjustMetric(){
        setMetric($("#metric").val());
    }

    function adjustDates(){
        createCookie("startDate",$("#datepickerStart").val(),1)
        createCookie("endDate",$("#datepickerEnd").val(),1)
    }

    $(function(){
        $("#metric").val(readCookie("reportingmetric"))

        jQuery.datepicker.setDefaults({autoSize:true, dateFormat:"yy-mm-dd"});
        $(function () {
            jQuery("#datepickerStart").datepicker(
                    {});
            jQuery("#datepickerEnd").datepicker(
                    {});
            jQuery("#datepickerStart, #datepickerEnd").datepicker();
        });
    });

    function toggleTables(){
        $(".tables").each(function(index){
            $("#table-buffer").toggleClass("active");
            $(this).toggle();

            if($(this).is(":visible")){
                sessionStorage["tables"]=1;
            }else{
                sessionStorage["tables"]=0;
            }
        });
    }

    function toggleGraphs(){
        $(".graphs").each(function(index){
            $("#graph-buffer").toggleClass("active");
            $(this).toggle();

            if($(this).is(":visible")){
                sessionStorage["graphs"]=1;
            }else{
                sessionStorage["graphs"]=0;
            }
        });
    }

    function initSections(){
        if(sessionStorage["graphs"]==1||sessionStorage["graphs"]==undefined){
            toggleGraphs();
        }

        if(sessionStorage["tables"]==1){
            toggleTables();
        }
    }

    $(function(){
        initSections();
    });
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Monitoring</a></li>
            <li><a href="" class="last">Reporting</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Take a look at traffic trends on your network
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

{% if not params.connected %}
<div class="alert">
    <span class="message"><b>Warning:</b> Sphirewall cannot connect to the analytics service at the moment, it does not appear to be running</span>
</div>
{% endif %}

{% if params.connected %}
<div style="position: absolute;right: 0px;">
    <form method=GET style="display:inline-block;">
        <select id="metric" name="metric" onchange="adjustMetric(); submit();">
            <option value="bytes">Bytes</option>
            <option value="kbytes">Kbytes</option>
            <option value="mbytes">Mbytes</option>
            <option value="gbytes">Gbytes</option>
        </select>
        <input type="text" id="datepickerStart" name="startDate" value="{{params.startDate}}" size="11"/>
        <input type="text" id="datepickerEnd" name="endDate" value="{{params.endDate}}" size="11"/>
        <input onclick="adjustDates(); submit();" type=submit value=Refresh>

    </form>
    <button id="table-buffer" class="btn" onclick="toggleTables();"><i class="icon-th-list"></i></button>
    <button id="graph-buffer" class="btn" onclick="toggleGraphs()"><i class="icon-picture"></i></button>
</div>
{% endif %}


{% endblock %}