{% extends "reporting.html" %}
{% block body %}

{% if params.connected %}
<div>
    <h2 style="display:inline;">Traffic to website '{{website|safe}}'</h2>
</div>

{% if websiteStats | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if websiteStats | length > 0 %}
<div style="position:relative;">
    <div class="aheading"><span>Total transfer by client breakdown</span></div>
    <br>
    <div class="abody">

        <table class="list border paging filtered export" id="websites" data-sortby="7">
            <thead>
            <th>Ip</th>
            <th>Hw</th>
            <th>User</th>
            <th>Tcp Upload</th>
            <th>Tcp Download</th>
            <th>Udp Upload</th>
            <th>Udp Download</th>
            <th>Total</th>
            </thead>
            <tbody>
            {% for stat in websiteStats %}
            <tr>
                <td><a href="/status/reporting/address/{{stat.address | safe}}">{{stat.address | safe}}</a></td>
                <td>
                    {% if stat.hw == "" %}
                    unknown
                    {%endif%}
                    {% if stat.hw != "" %}
                        <a href="/status/reporting/hw/{{stat.hw}}">{{stat.hw}}</a>
                    {%endif%}
                </td>
                <td>
                    {% if stat.user == "" %}
                    unknown
                    {%endif%}
                    {% if stat.user != "" %}
                    <a href="/status/reporting/users/{{stat.user}}">{{stat.user}}</a>
                    {%endif%}
                </td>
                <td>{{stat.tcpUp| safe}}</td>
                <td>{{stat.tcpDown| safe}}</td>
                <td>{{stat.udpUp| safe}}</td>
                <td>{{stat.udpDown| safe}}</td>
                <td>{{stat.tcpUp + stat.tcpDown + stat.udpDown + stat.udpDown}}</td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endif%}
{%endif%}
{% endblock %}