{% extends "status.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Monitoring</a></li>
            <li><a href="#" class="last">Active Connections</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View all connections being tracked
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div class="aheading">
    <span>Current Connections</span>
</div>
<br>
<div class="abody">
    <table class="list border filtered export paging" id=table_y data-pagesize="25">
        <thead class=general-title>
        <th>Source</th>
        <th>Destination</th>
        <th>Type</th>
        <th>User</th>
        <th>State</th>
        <th>Operations</th>
        </thead>
        <tbody>
        {% for conn in connections %}
        <tr>
            <td>{{conn.sourceIp}} : {{conn.sourcePort}}</td>
            <td>{{conn.destIp}} : {{conn.destPort}}</td>
            <td>{% if conn.protocol == 0 %}TCP{% endif %}
                {% if conn.protocol == 1 %}UDP{% endif %}
                {% if conn.protocol == 2 %}ICMP{% endif %}</td>
            <td>
                {{conn.user}}
            </td>
            <td>{{conn.state}}</td>
            <td>
                <a href="/status/connections/terminate/{{conn.sourceIp}}/{{conn.sourcePort}}/{{conn.destIp}}/{{conn.destPort}}">Terminate
                    Connection</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}