{% extends "reporting.html" %}
{% block body %}

{% if params.connected %}
<div>
    <h2 style="display:inline;">Network Summary</h2>
</div>

{% if transfer | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if transfer | length > 0 %}
<div class="aheading">
    <span>Transfer Rate in Mbit/s</span>
</div>
<br>
<div class="abody">
    <script>
        var data = [];
        $(function(){
            var data = [];

            {% for i in transfer %}
                data.push([getTime("{{i.time}}:00:00"),{{i.value}} / 131072]);
            {% endfor %}

            $.plot($("#transfer"),
                [
                    {label:name, data:data}
                ], {xaxis:{mode:'time'}, lines:{fill:true},
                    grid:{
                        borderWidth:1,
                        borderColor:'#ccc'
                    }

                });


            uploadPoints = [];
            downloadPoints = [];
            {% for point in transferPoints%}
                uploadPoints.push([getTime('{{point.time}}'), {{point.udpUp}} + {{point.udpDown}}])
            downloadPoints.push([getTime('{{point.time}}'), {{point.udpDown}} + {{point.tcpDown}}])
            {% endfor%}

            $.plot($('#chart_div'), [
                {label:'Upload', data:uploadPoints},
                {label:'Download', data:downloadPoints}
            ], {
                xaxis:{mode:'time'}, lines:{fill:true}, grid:{ borderWidth:1, borderColor:'#ccc'}
            });

        });

    </script>

    <div id="transfer" style="width:99%; height: 150px;"></div>
</div>
<br>
<div class="aheading">
    <span>Total Transfer over time</span>
</div>
<br>

<div class="abody">
    <div id="chart_div" style="width: 99%; height: 150px;"></div>
</div>


<style>
    .pill {
        display: inline-table;
        padding: 16px;
        background-color: whitesmoke;
    }

    .container {
    }

    .title {
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        color:#333333;
    }

    .value {
        display: block;
        font-size: 14px;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        color: gray;
    }
</style>
<br>
<div class="aheading">
    <span>Quick Stats</span>
</div>
<br>
<div class="abody">
<div>
    <div class="container">
        <a href="/status/reporting/address" class="pill"><span class="title">Top Ip</span><span class="value">{{top.ip}}</span></a>
        <a href="/status/reporting/address" class="pill"><span class="title">Top Device</span><span class="value">{{top.device}}</span></a>
        <a href="/status/reporting/users" class="pill"><span class="title">Top User</span><span class="value">{{top.user}}</span></a>
        <a href="/status/reporting/websites" class="pill"><span class="title">Top Website</span><span class="value">{{top.website}}</span></a>
    </div>
</div>
<br>
{%endif%}

{% endif %}
{%endblock %}