{% extends "status.html" %}
{% block body %}

<script>

    function createCookie(name,value,days){
        if(days){
            var date=new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires="; expires="+date.toGMTString();
        }else var expires="";
        document.cookie=escape(name)+"="+escape(value)+expires+"; path=/";
    }

    function adjustDates(){
        createCookie("startDate",$("#datepickerStart").val(),1)
        createCookie("endDate",$("#datepickerEnd").val(),1)
    }

    $(function(){
        jQuery.datepicker.setDefaults({autoSize:true, dateFormat:"yy-mm-dd"});
        $(function () {
            jQuery("#datepickerStart").datepicker(
                    {});
            jQuery("#datepickerEnd").datepicker(
                    {});
            jQuery("#datepickerStart, #datepickerEnd").datepicker();
        });
    });

</script>


<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Monitoring</a></li>
            <li><a href="#" class="last">Performance</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Monitor Sphirewall Performance
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

{% if not reportingConnected %}
<div class="alert">
    <span class="message"><b>Warning:</b> Sphirewall cannot connect to the analytics service at the moment, it does not appear to be running</span>
</div>
{% endif %}

{% if reportingConnected %}
<div style="position: absolute;right: 0px;">
    <form method=GET style="display:inline-block;">
        <input type="text" id="datepickerStart" name="startDate" value="{{params.startDate}}" size="11"/>
        <input type="text" id="datepickerEnd" name="endDate" value="{{params.endDate}}" size="11"/>
        <input onclick="adjustDates(); submit();" type=submit value=Refresh>
    </form>
</div>

{% for item in stats %}
<div class="aheading">
    <span>{{item.key}}</span>
</div>
<br>
<div class="abody">
    <script>
        var data = [];
        $(function(){
            var data = [];

            {% for i in item.data %}
                data.push([getTime("{{i.time}}:00:00"),{{i.value}}]);
            {% endfor %}

        $.plot($("#transfer_{{item.key}}"),
                [
                    {label:name, data:data}
                ], {xaxis:{mode:'time'}, lines:{fill:true},
                    grid:{
                        borderWidth:1,
                        borderColor:'#ccc'
                    }

                });
        });
    </script>

    <div id="transfer_{{item.key | safe}}" style="width:98%; height: 150px;"></div>
</div>
{%endfor%}
{% endif %}

{% endblock %}