{% extends "reporting.html" %}
{% block body %}
{% if params.connected %}
<div>
    <h2 style="display:inline;">Traffic by device</h2>
</div>

{% if deviceTotal | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if deviceTotal | length > 0 %}
<div class="graphs">
    <div class="aheading"><span>Transfer by device</span></div>
    <br>

    <div class="abody">
        <div id="all" style="width: 99%; height: 200;"></div>
    </div>
</div>

<div class="tables">
    <div class="aheading"><span>Transfer by device breakdown</span></div>
    <br>

    <div class="abody">
        <table class="list border paging filtered export" id="devices">
            <thead>
            <th>Network Interface</th>
            <th>Tcp Upload</th>
            <th>Tcp Download</th>
            <th>Udp Upload</th>
            <th>Udp Download</th>
            </thead>
            {% for device in deviceTotal %}
            <tr>
                <td><a href="/status/reporting/devices/{{device.device}}">{{device.device | safe}}</a></td>
                <td>{{device.tcpUp| safe}}</td>
                <td>{{device.tcpDown| safe}}</td>
                <td>{{device.udpUp| safe}}</td>
                <td>{{device.udpDown| safe}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
<script>

    function populateGraph(){
        item={{jsonDeviceTotal|safe}}
    function getTicks(){
        ticks=[];
        for(i=0; i<item.length; i++){
            var target=item[i];
            ticks.push([
                i,target["device"]
            ]);
        }
        return ticks;
    }

    function getSeries(){
        series=[];
        for(i=0; i<item.length; i++){
            var target=item[i];
            series.push([
                i,(target["tcpUp"]+target["udpUp"]+target["tcpDown"]+target["udpDown"])
            ]);
        }

        return series;
    }

    $.plot($("#all"),[
        {
            label:"Top Hosts",
            data:getSeries(),
            bars:{
                show:true,
                barWidth:0.5,
                align:"center"
            },
            grid:{borderWidth:1}
        }
    ],{xaxis:{
                ticks:getTicks()
            },grid:{ borderWidth:1,borderColor:'#ccc'}});
    }

    function getData(){
        var networkDevices=getNetworkDevices();
        var data=[];
        for(i=0; i<networkDevices.length; i++){
            var dataByDevice=getDataByDevice(networkDevices[i]["interface"]);
            data.push([networkDevices[i]["interface"],dataByDevice]);
        }
        return data;
    }

    //Do Stuff:
    $(function(){
        populateGraph();
    });

</script>
{%endif%}
{%endif%}

{% endblock %}