{% extends "reporting.html" %}
{% block body %}

{% if params.connected %}
<div>
    <h2 style="display:inline;">Outgoing traffic by address</h2>
</div>

{% if items | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if items | length > 0 %}
<div class="graphs">
    <div class="aheading"><span>Transfer by host</span></div>
    <br>

    <div class="abody">
        <div id="all" style="width: 99%; height: 200;"></div>
    </div>
</div>
<br>
<div class="tables">
    <div class="aheading"><span>Breakdown by host</span></div>
    <br>
    <div class="abody">
        <table class="list border paging filtered export" id="addresses" data-sortby="6">
            <thead class="general-title">
            <th><b>IP Address</b></th>
            <th><b>Mac Address</b></th>
            <th><b>Tcp Upload</b></th>
            <th><b>Tcp Download</b></th>
            <th><b>Udp Upload</b></th>
            <th><b>Udp Download</b></th>
            <th><b>Total</b></th>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td><a href="/status/reporting/address/{{item.address}}">{{item.address | safe}}</a></td>
                <td><a href="/status/reporting/hw/{{item.hw}}">{{item.hw | safe}}</a></td>
                <td>{{item.tcpUp| safe}}</td>
                <td>{{item.tcpDown| safe}}</td>
                <td>{{item.udpUp| safe}}</td>
                <td>{{item.udpDown| safe}}</td>
                <td>{{item.tcpUp +  item.tcpDown +item.udpDown + item.udpUp}}</td>
            </tr>
            {%endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function populateGraph(){
        item={{itemsJson|safe}}

    function getTicks(){
        ticks=[];
        for(i=0; i<item.length&&i<6; i++){
            var target=item[i];
            ticks.push([
                i,target["address"]
            ]);
        }
        return ticks;
    }

    function getSeries(){
        series=[];
        for(i=0; i<item.length&&i<6; i++){
            var target=item[i];
            series.push([
                i,(target["tcpUp"]+target["udpUp"]+target["tcpDown"]+target["udpDown"])
            ]);
        }

        return series;
    }

    $.plot($("#all"),[
        {
            label:"Top Hosts",
            data:getSeries(),
            bars:{
                show:true,
                barWidth:0.5,
                align:"center"
            }
        }
    ],{xaxis:{
        ticks:getTicks()
    },grid:{ borderWidth:1,borderColor:'#ccc'}});
    }

    $(function(){
        populateGraph();

    });
</script>
{%endif%}

{% endif %}
{%endblock %}