{% extends "status.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Monitoring</a></li>
            <li><a href="#" class="last">Active Clients</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View all active clients in Sphirewall
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<div id="users">
    <div class="aheading">
        <span>Active Users</span>
    </div>
    <br>

    <div class="abody">
        <table id="activeusers" class="list border filtered export paging">
            <thead>
            <th>Username</th>
            <th>Host</th>
            <th>Hardware Mac Address</th>
            <th>Login Time</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for user in activeusers %}
            <tr>
                <td>{{user.user | safe}}</td>
                <td>{{user.host | safe}}</td>
                <td>{{user.hw| safe}}</td>
                <td class="datetimedecorator">{{user.loginTime| safe}}</td>
                <td>
                    <a href="/status/clients/disconnect/{{user.host | safe}}">Disconnect</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="aheading">
        <span>Active Hosts</span>
    </div>
    <br>
    <div class="abody">
        <table id="activehosts" class="list border filtered export paging">
            <thead class="general-title">
            <th>Address</th>
            <th>Hardware Mac Address</th>
            <th>Last Seen</th>
            <th>User</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for host in hosts %}
            <tr>
                <td>{{host.host}}</td>
                <td>{{host.hw}}</td>
                <td class="datetimedecorator">{{host.loginTime}}</td>
                <td>{{host.user}}</td>
                <td>
                    <a href="/status/reporting/address/{{host.host | safe}}">Reports</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}