{% extends "status.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Monitoring</a></li>
            <li><a href="#" class="last">System Log</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View System Log
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div class="aheading">
    <span>Filter Log</span>
</div>
<br>
<div class="abody">
    <form method="POST">
        Filter Expression: <input value="{{filter}}" name="filter" type="text" onchange="submit();"/>
    </form>
</div>

<div class="aheading">
    <span>View System Log</span>
</div>
<br>
<script>
    $(function(){
        var objDiv = document.getElementById("logview");
        objDiv.scrollTop = objDiv.scrollHeight;
    });
</script>
<div id="logview" class="abody" style="overflow-y: scroll; height:500px;">
    {{logs | safe}}
</div>

{% endblock %}