{% extends "reporting.html" %}
{% block body %}
{% if params.connected %}

<div>
    <h2 style="display:inline;">Summary of Top Websites</h2>
    {% if filterIp %}
    <br><b>Filtered on source ip '{{filterIp}}'</b>
    {% endif %}

    {% if filterHw %}
    <br><b>Filtered on mac address '{{filterHw}}'</b>
    {% endif %}

    {% if filterUser %}
    <br><b>Filtered on user '{{filterUser}}'</b>
    {% endif %}
</div>

{% if websites | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if websites | length > 0 %}
<div class="graphs">
    <div class="aheading"><span>Top websites</span></div>
    <br>

    <div class="abody">
        <div id="all" style="width: 99%; height: 200;"></div>
    </div>
</div>
<div class="tables">
    <div class="aheading"><span>Top websites</span></div>
    <br>
    <div class="abody">
        <table class="list border paging filtered export" id="websites" data-sortby="3">
            <thead>
            <th>Website</th>
            <th>Transfer Up</th>
            <th>Transfer Down</th>
            <th>Total</th>
            </thead>
            <tbody>
            {% for site in websites %}
            <tr>
                <td>
                    {% if not site.httpHost %}
                    unknown
                    {% endif %}

                    {% if site.httpHost %}
                    <a href="/status/reporting/websites/{{site.httpHost | safe}}">{{site.httpHost | safe}}</a>
                    {%endif %}
                </td>
                <td>{{site.tcpUp | safe}}</td>
                <td>{{site.tcpDown| safe}}</td>
                <td>{{site.tcpUp + site.tcpDown}}</td>
            </tr>
            {%endfor%}
            </tbody>

        </table>
    </div>
</div>
<script>
    $(function () {
        function populateGraph(item) {
            function getTicks() {
                ticks = [];
                for (i = 0; i < item.length && i < 6; i++) {
                    var target = item[i];
                    ticks.push([
                        i, target["httpHost"]
                    ]);
                }
                return ticks;
            }

            function getSeries() {
                series = [];
                for (i = 0; i < item.length && i < 6; i++) {
                    var target = item[i];
                    series.push([
                        i, (target["tcpUp"] + target["tcpDown"])
                    ]);
                }

                return series;
            }

            $.plot(
                    $("#all"),
                    [
                        {
                            label:"Top Websites",
                            data:getSeries(),
                            bars:{
                                show:true,
                                barWidth:0.5,
                                align:"center"
                            },
                            grid:{borderWidth:1}
                        }
                    ],
                    {xaxis:{
                        ticks:getTicks()
                    }, grid:{ borderWidth:1, borderColor:'#ccc'}}
            );
        }

        var item = {{websitesJson | safe}};
        populateGraph(item);
    });

</script>
{%endif%}
{%endif%}

{%endblock%}
