{% extends "reporting.html" %}
{% block body %}

{% if params.connected %}
<div>
    <h2 style="display:inline;">Outgoing traffic from host '{{address | safe}}'</h2>
</div>

{% if transferPoints | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if transferPoints | length > 0 %}
<div style="position:relative;">

<div class="graphs">
    <div class="aheading">
        <span>Transfer over time</span>
    </div>
    <br>

    <div class="abody">
        <div id="chart_div" style="width: 99%; height: 200px;"></div>
    </div>

    <br>

    <div class="half">
        <div class="aheading">
            <span>Traffic type distribution</span>
        </div>
        <br>

        <div class="abody">
            <div id="graph8" style="width:99%; height: 200px; display:inline-block;"></div>
        </div>
    </div>
    <div class="half">
        <div class="aheading">
            <span>Upload/Download distribution</span>
        </div>
        <br>

        <div class="abody">
            <div id="graph9" style="width:99%; height: 200px; display:inline-block;"></div>
        </div>
    </div>
</div>
<br>

<div class="tables" style="display:none;">
    <div class="aheading">
        <span>Breakdown of transfer by host</span>
    </div>
    <br>
    <div class="abody">
        <table class="list border paging filtered export" id="transfer">
            <thead class="general-title">
            <th>Date/Time</th>
            <th>Tcp Upload</th>
            <th>Tcp Download</th>
            <th>Udp Upload</th>
            <th>Udp Download</th>
            </thead>
            <tbody>
            {% for point in transferPoints %}
            <tr>
                <td><a href="?startDate={{point.time}}&endDate={{point.time}}">{{point.time | safe}}</a></td>
                <td>{{point.tcpUp| safe}}</td>
                <td>{{point.tcpDown| safe}}</td>
                <td>{{point.udpUp| safe}}</td>
                <td>{{point.udpDown| safe}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <div class="aheading">
        <span>Breakdown of traffic type</span>
    </div>
    <br>
    <div class="abody">
        <table class="list border paging filtered export" id="ports" data-sortby="5">
            <thead class="general-title">
            <th>Service Port</th>
            <th>Tcp Upload</th>
            <th>Tcp Download</th>
            <th>Udp Upload</th>
            <th>Udp Download</th>
            <th>Total</th>
            <tbody>
            {% for point in portPoints %}
            <tr>
                <td>
                    {% if point.port == 80 or point.port == 443 or point.port == 8080 or point.port == 3128 %}
                    <a href="/status/reporting/websites?filter_sourceIp={{address}}"> <span class="port">{{point.port}}</span></a>
                    {% endif %}

                    {% if point.port != 80 and point.port != 443 and point.port != 8080 and point.port != 3128%}
                    <span class="port">{{point.port | safe}}</span>
                    {%endif%}
                </td>
                <td>{{point.tcpUp| safe}}</td>
                <td>{{point.tcpDown| safe}}</td>
                <td>{{point.udpUp| safe}}</td>
                <td>{{point.udpDown| safe}}</td>
                <td>{{point.tcpUp + point.tcpDown + point.udpDown + point.udpDown}}</td>
            </tr>
            {% endfor %}
            </tbody>

            </thead>
        </table>
    </div>
</div>
<script>

    $(function(){
        data = [
                {% for p in portPoints %}
                {label: getservicenamebyportsafe({{p.port}}), data:{{p.tcpUp}} + {{p.tcpDown}} + {{p.udpUp}} + {{p.udpDown}}},
                {%endfor %}
        ];

        $.plot($("#graph8"),data,{
            series:{
                pie:{
                    show:true,
                    radius:360,
                    label:{
                        show:true,
                        formatter:function(label,series){
                            return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                        }
                    },
                    combine: {
                        color: '#999',
                        threshold: 0.1
                    }
                }
            },
            legend:{
                show:false
            }
        });

        $.plot($("#graph9"),[
            {label:"Upload",data:{{upload | safe}}},
            {label:"Download",data:{{download| safe}}}
        ],{
            series:{
                pie:{
                    show:true,
                    radius:360,
                    label:{
                        show:true,
                        formatter:function(label,series){
                            return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                        }
                    },
                    combine: {
                        color: '#999',
                        threshold: 0.1
                    }
                }
            },
            legend:{
                show:false
            }
        });

        uploadPoints = [];
        downloadPoints = [];
            {% for point in transferPoints%}
            uploadPoints.push([getTime('{{point.time}}'), {{point.udpUp}} + {{point.udpDown}}])
            downloadPoints.push([getTime('{{point.time}}'), {{point.udpDown}} + {{point.tcpDown}}])
            {% endfor%}

        $.plot($('#chart_div'), [
            {label:'Upload', data:uploadPoints},
            {label:'Download', data:downloadPoints}
        ], {
            xaxis:{mode:'time'}, lines:{fill:true}, grid:{ borderWidth:1, borderColor:'#ccc'}
        });


    });
</script>
</div>

{%endif%}
{%endif%}
{% endblock %}