{% extends "status.html" %}
{% block body %}

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Monitoring</a></li>
            <li><a href="#" class="last">Events and Alerts</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage events
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
            <ul>
                <li><a href="/configuration/events">Manage Handlers</a></li>
                <li><a href="/configuration/events/purge">Purge Events</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="aheading">
    <span>Events since last purge</span>
</div>
<br>
<div class="abody">
    <table id="events" class="list border filtered export paging">
        <thead class=general-title>
        <th><b>Date/Time</b></th>
        <th><b>Event Type</b></th>
        <th><b>Details</b></th>
        </thead>

        <tbody>
        {% for e in events -%}
        <tr>
            <td class="datetimedecorator">{{e.time}}</td>
            <td>{{e.key}}</td>
            <td>
                {% for p in e.params -%}
                    {% for key,value in p.iteritems() -%}
                        {{key}}:{{value}},
                    {% endfor %}
                {%endfor%}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}