{% extends "reporting.html" %}
{% block body %}

{% if params.connected %}

<div>
    <h2 style="display:inline;">Traffic on device '{{device|safe}}'</h2>
</div>

{% if deviceStats | length == 0 %}
<br>
<div class="alert">
    <span class="message"><b>Warning:</b> No data found for the given range, either because there is no data recorded, or the database is currently updating</span>
</div>
{%endif%}

{% if deviceStats | length > 0 %}

<div style="position:relative;">
    <div class="aheading"><span>Total transfer by device</span></div>
    <br>

    <div class="abody">
        <div id="all" style="width: 99%; height: 200;"></div>
    </div>
    <br>

    <div class="aheading"><span>Total transfer by device breakdown</span></div>
    <br>
    <div class="abody">

        <table class="list border paging filtered export" id="devices">
            <thead>
            <th>Date/Time</th>
            <th>Tcp Upload</th>
            <th>Tcp Download</th>
            <th>Udp Upload</th>
            <th>Udp Download</th>
            </thead>
            <tbody>
            {% for stat in deviceStats %}
                <tr>
                    <td>{{stat.time | safe}}</td>
                    <td>{{stat.tcpUp| safe}}</td>
                    <td>{{stat.tcpDown| safe}}</td>
                    <td>{{stat.udpUp| safe}}</td>
                    <td>{{stat.udpDown| safe}}</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
            item = {{deviceStatsJson | safe}};
            function getUploadPoints() {
                var upload = [];
                for (i = 0; i < item.length; i++) {
                    upload.push([getTime(item[i]["time"]), item[i]["udpUp"] + item[i]["tcpUp"]]);
                }
                return upload;
            }

            function getDownloadPoints() {
                var download = [];
                for (i = 0; i < item.length; i++) {
                    download.push([getTime(item[i]["time"]), item[i]["udpDown"] + item[i]["tcpDown"]]);
                }
                return download;
            }

            $.plot($('#all'), [
                {label:'Upload', data:getUploadPoints()},
                {label:'Download', data:getDownloadPoints()}
            ], {
                xaxis:{mode:'time'}, lines:{fill:true}, grid:{ borderWidth:1, borderColor:'#ccc'}
            });
    });
</script>
{%endif%}
{%endif%}

{% endblock %}