{% extends "layout.html" %}

{% block navigation %}
<br>
<span class="navtitle">Status</span>
<a class="mO" href="/status/clients">Clients</a>
<a class="mO" href="/status/connections">Connections</a>
<a class="mO" href="/status/events">Events and Alerts</a>
<a class="mO" href="/status/metrics">Performance</a>
<a class="mO" href="/status/logs">System Logs</a>
<br>
<span class="navtitle">Reporting</span>
<a class="mO" href="/status/reporting">Summary</a>
<a class="mO" href="/status/reporting/address">Hosts</a>
<a class="mO" href="/status/reporting/users">Users</a>
<a class="mO" href="/status/reporting/devices">Devices</a>
<a class="mO" href="/status/reporting/websites">Websites</a>

{% endblock %}

